
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  max-width: 85vw;
  margin: auto;
  &__strip {
   min-height: 100vh;
   &__wrapper {
    flex: 0 0 100%;
    justify-content: flex-end;
    border-right: 2px solid #333;
    position: relative;
   }
  }
 }

 @media (min-width: 500px) {
  .gallery__strip__wrapper {
   flex: 0 0 50%;
  }
 }

 @media (min-width: 950px) {
  .gallery {
   height: 100vh;
   &__strip {
    &.one {
     animation: 60s move-it ease alternate infinite 5s;
     transform: translateY(2%);
    }
    &.three {
     animation: 70s move-it ease alternate infinite 6s;
     transform: translateY(2%);
    }
    &.two {
     animation: 58s move-it-2 ease alternate infinite 5s;
     transform: translateY(-50%);
    }
    &.four {
     animation: 65s move-it-2 ease alternate infinite 5.5s;
     transform: translateY(-50%);
    }
    &:hover {
     animation-play-state: paused;
    }
    &__wrapper {
     flex: 0 0 25%;
    }
   }
  }
 }

 .photo {
  position: relative;
  text-align: right;
  padding-bottom: 3rem;
  &__image img {
   width: 90%;
   transform: translateX(30%);
   transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  }
  &__name {
   text-transform: uppercase;
   font-size: 40px;
   letter-spacing: 2px;
   color: transparent;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   margin-top: -25px;
   transition: 0.4s ease-in-out 0.4s;
   position: relative;
   width: 100%;
  }
  //&:hover {
  // .photo__image img {
  //  transform: translateX(0%);
  // }
   //.photo__name {
    //color: #fff;
   //}
  //}
 }

 @keyframes move-it {
  0%,
  90%,
  100% {
   transform: translateY(2%);
  }
  45% {
   transform: translateY(-50%);
  }
 }

 @keyframes move-it-2 {
  0%,
  90%,
  100% {
   transform: translateY(-50%);
  }
  45% {
   transform: translateY(5%);
  }
 }
