<app-menu-super-admin></app-menu-super-admin>
<app-gallery></app-gallery>

<div class="gallery">
    <div class="gallery__strip__wrapper">
      <div class="gallery__strip one">
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN1.JPG"/></div>
          <div class="photo__name">FEMEKA</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN2.JPG"/></div>
          <div class="photo__name">MÉXICO</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN3.JPG"/></div>
          <div class="photo__name">FEMEKA</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN4.JPG"/></div>
          <div class="photo__name">MÉXICO</div>
        </div>
      </div>
    </div>
    <div class="gallery__strip__wrapper">
      <div class="gallery__strip two">
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN9.JPG"/></div>
          <div class="photo__name">FEMEKA</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN6.JPG"/></div>
          <div class="photo__name">MÉXICO</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN7.JPG"/></div>
          <div class="photo__name">FEMEKA</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN8.JPG"/></div>
          <div class="photo__name">MÉXICO</div>
        </div>
      </div>
    </div>
    <div class="gallery__strip__wrapper">
      <div class="gallery__strip three">
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN10.JPG"/></div>
          <div class="photo__name">FEMEKA</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN5.JPG"/></div>
          <div class="photo__name">MÉXICO</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN11.JPG"/></div>
          <div class="photo__name">FEMEKA</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN12.JPG"/></div>
          <div class="photo__name">MÉXICO</div>
        </div>
      </div>
    </div>

  </div>
<app-footer></app-footer>
