.loading {
    background-color: black;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 9999;
  }

  
  #preloader {
    height: 50px;
    width: 50px;
    margin: 50vh auto;
    border: 3px solid rgba(255, 255, 255, 0.45);
    border-top: 3px solid rgb(221, 29, 29);
    border-radius: 50%;
    animation: rotate 1s infinite linear;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }