<!-- <app-preloader></app-preloader> -->
<app-header-publico></app-header-publico>
<app-gallery></app-gallery>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 texto"></div>
        <div class="col-sm-4 texto">
            <h3 class="animate__animated animate__flipInX animate__delay-1s">Eventos</h3>
            <h2>CAMPEONATO NACIONAL DE KARATE DO ADULTOS, MASTER Y PARAKARATE</h2>
            <p>¡Los invitamos a el Campeonato Nacional de Karate Do en Oaxtepec, Morelos! <br>
                Acércate a tu presidente de asociación de tu estado para tu registro, recuerda que el es el único que puede realizarlo. <br>
                ¡Los esperamos!</p>

        </div>
        <div class="col-sm-4" data-aos="fade-right" data-aos-offset="500"
            data-aos-easing="ease-in-sine">
            <img class="d-block w-100 mx-auto d-block" style="margin-top: 15%;"
                src="../../../assets/images/eventos/POSTER OAXTEPEC.png" alt="eventos">
        </div>
    </div>

    <div class="row mt-5 descripcion" style="margin-left: 15%; margin-right: 15%;" data-aos="fade-left"
        data-aos-offset="500"  data-aos-easing="ease-in-sine">
        <div class="col">
            <h1>LUGAR DEL EVENTO</h1>
            <h3>OAXTEPEC, MORELOS</h3>
            <img class="d-block w-75 mx-auto d-block" src="../../../assets/images/img_pagina/ESTADOS/morelos.png"
                alt="eventos">
        </div>
        <div class="col">
            <h1>FECHA DE INSCRIPCIÓN</h1>
            <h3>Del 15 al 31 de agosto del 2021</h3>
            <img class="d-block w-75 mx-auto d-block"
                src="../../../assets/images/img_pagina/CALENDARIOS/AGOSTO-INSCRIPCIONES.jpg" alt="eventos">
        </div>
        <div class="col">
            <h1>FECHA DE EVENTO</h1>
            <h3>Del 02 al 05 de septiembre del 2021</h3>
            <img class="d-block w-75 mx-auto d-block"
                src="../../../assets/images/img_pagina/CALENDARIOS/SEPTIEMBRE-EVENTO.jpg" alt="eventos">
        </div>
    </div>

    <div class="row mt-5 descripcion" style="margin-left: 15%; margin-right: 15%;" data-aos="fade-right"
        data-aos-offset="500"  data-aos-easing="ease-in-sine">
        <div class="col ms-5">
            <h1>INFORMACIÓN GENERAL</h1>
            <h4>Lugar:</h4>
            <p>Dorados Conventions & Resort <br>
                Carretera, Cocoyoc - Oaxtepec KM 2.5, Centro, <br>
                62738 Oaxtepec, Mor.
            </p>
            <h4>Modalidad:</h4>
            <p>Presencial</p>
            <h4>Tipo de evento:</h4>
            <p>Nacional</p>
            <h4>Informes:</h4>
            <p>Shihan Oscar Godinez Balvas <br>
                Presidente de la Federación Mexicana de Karate y Artes Marciales Afines A.C. <br><br>
                presidentefemekaoficial@gmail.com</p>
        </div>
        <div class="col">
            <h1>CATEGORIAS</h1>
            <p>Infantil y juvenil <br>
                Categoria mayor <br>
                Seminario nacional de Arbitraje <br>
                Seminario nacional de entrenadores y atletas <br>
                Exámenes de reconocimiento FEMEKA <br>
                Cédula de competidor, Cinta negra <br>
                Grados Kyu
            </p>
            <h1>CONVOCATORIA</h1>
            <a href=""
                target="_blank"><button class="btn">DESCARGAR</button></a>
        </div>
        <div class="col">
            <h1>COSTOS</h1>
            <h4>CINTAS NEGRAS</h4>
            <p>Individual kata o kumite: $600.00 MN <br>
                Parakarate kata: $500.00 MN <br>
                Equipo de kata: $1,800.00 MN <br>
                Equipo de kumite: $3,000.00 MN</p>

            <h4>CINTAS DE COLOR</h4>
            <p>Ficha única (kata y/o kumite): $750.00 MN <br>
                Ficha única Parakarate: $500.00 MN</p>

            <h4>EXAMENES</h4>
            <p> Cédula de competidor: $1,000.00 MN <br>
                Cinta negra FEMEKA: $1,400.00 MN</p>

            <h4>CURSOS</h4>
            <p>Arbitraje: $600.00 MN <br>
                Entrenadores: $600.00 MN</p>
        </div>
    </div>

    <div class="row mt-5 descripcion" style="margin-left: 15%; margin-right: 15%;" data-aos="fade-left"
        data-aos-offset="500"  data-aos-easing="ease-in-sine">
        <iframe src="https://www.youtube.com/embed/6u63B-3NtbA" frameborder="0" style="width: 100%; height: 60vh"></iframe>
    </div>
</div>

<app-footer></app-footer>
