<!--PRELOADING -->
<div class="loading oading-text animate__animated animate__fadeOut animate__delay-1s" id="loader">
    <div class="loading-text animate__animated animate__fadeOut animate__delay-2s">
        <span class="loading-text-words">F</span>
        <span class="loading-text-words">E</span>
        <span class="loading-text-words">M</span>
        <span class="loading-text-words">E</span>
        <span class="loading-text-words">K</span>
        <span class="loading-text-words">A</span>
    </div>
</div>
<div style="display:none;" id="myDiv"></div>
<!-- FIN PRELOADING -->


<app-header-publico></app-header-publico>
<!--FONDO-->
<div class="fondo"></div>
<app-home></app-home>
<app-footer></app-footer>




<!-- <input type="checkbox" class="check" id="checked">
<label class="menu-btn" for="checked">
    <span class="bar top"></span>
    <span class="bar middle"></span>
    <span class="bar bottom"></span>
</label>
<label class="close-menu" for="checked"></label>
<img class="logo" id="logo" src="../../../assets/images/img_pagina/femeka_home.png" alt="">
<nav class="drawer-menu">
    <ul>
        <li><a (click)="showMyContainer=!showMyContainer"><img style="width: 6vh;" src="../../../assets/images/img_pagina/profileIcon.png"></a></li>
        <div id="div" *ngIf="showMyContainer">
            <h2 style="margin-top: 50px;">ACCEDE A TU CUENTA</h2>

            <form ngNativeValidate #f="ngForm" (ngSubmit)="ingresar( f )" class="user">
                <div class="input">
                    <input type="text" style="color: black;" required name="nombre" ngModel>
                    <span class="input__highlight"></span>
                    <span class="input__underline"></span>
                    <label style="color: rgb(78, 76, 76);">Usuario</label>
                </div>
                <div class="input">
                    <input type="password" style="color: black;" required name="password" ngModel>
                    <span class="input__highlight"></span>
                    <span class="input__underline"></span>
                    <label style="color: rgb(78, 76, 76);">Contraseña</label>
                </div>
                <div class="ripple-button"> -->
<!-- <button type="button">Ingresar</button> -->
<!-- <input type="submit" id="btn-login" value="Ingresar" [disabled]="f.invalid">
                </div>
            </form>


        </div>
        <li><a>INICIO</a></li>
        <li><a>FEMEKA</a></li>
        <li><a>KARATE</a></li>
        <li><a>RANKING</a></li>
        <li><a>EVENTOS</a></li>
        <li><a>NOTICIAS</a></li>
        <li><a>CONTACTO</a></li>
    </ul>
</nav>

<div class="contents">
    <div class="contents__inner">
        <div class="circulo">
            <img src="../../../assets/images/campeones/5.png">
        </div>
        <div class="hashtag">
            <p>SIGUENOS EN TODAS NUESTRAS REDES SOCIALES</p>
            <h1>#MASUNIDOSYFUERTESQUENUNCA</h1>
            <a href="https://www.facebook.com/femekamexico" target="_blank"><img src="../../../assets/images/img_pagina/facebook.jpg"></a>
            <a href="https://www.instagram.com/femekamexico/" target="_blank"><img src="../../../assets/images/img_pagina/instagram.jpg"></a>
            <a href="https://twitter.com/femekamexico" target="_blank"><img src="../../../assets/images/img_pagina/twitter.png"></a>
            <a href="https://twitter.com/femekamexico" target="_blank"><img src="../../../assets/images/img_pagina/tiktok.png"></a>
        </div>
        <div class="fondoOscuro"></div>

    </div>

</div> -->
