<nav class="menu-extendido fixed-top" style="background-color: black;">
  <a href="/#/login"><img class="logo2" src="../../../assets/images/img_pagina/femeka_logoIndiv.png" alt="logo"></a>
  <div>
    <ul>
      <li><a rel="preload" href="/#/dashboard/about">¿Quienes somos?</a></li>
      <li><a>FEMEKA</a>
        <ul class="sub-menu-0">
          <li>
            <ul class="sub-menu-1">
              <li><a href="/#/dashboard/vision-mision">Misión y Visión</a></li>
              <li><a href="/#/dashboard/organigrama" >Organigrama FEMEKA</a></li>
              <li><a href="/#/dashboard/asamblea" >Asamblea</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a>Eventos</a>
        <ul class="sub-menu-0">
          <li>
            <ul class="sub-menu-1">
              <li><a href="/#/dashboard/eventos">Eventos</a></li>
              <li><a href="/#/dashboard/seminarios">Seminarios</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="/#/dashboard/noticias" >Noticias</a></li>
      <!-- <li><a href="/#/dashboard/renades">Renade</a></li> -->
    </ul>
  </div>
  <a data-toggle="modal" data-target="#exampleModalCenter"><svg class="signin" xmlns="http://www.w3.org/2000/svg"
      fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-width="1"
        d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
    </svg></a>
</nav>

<header class="menu-comprimido">
  <a rel="preload" href="/#/login" class="logo">
    <img src="../../../assets/images/img_pagina/femeka_home.png" alt="logo" class="animate__animated animate__zoomIn">
  </a>

  <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
  <label for="menu-icon"></label>
  <nav class="nav">
    <ul class="pt-5">
      <li><a rel="preload" href="/#/login">Inicio</a></li>
      <li><a rel="preload" href="/#/dashboard/about">Acerca de</a></li>
      <li><a rel="preload" href="/#/dashboard/vision-mision">Misión y visión</a></li>
      <li><a rel="preload" href="/#/dashboard/organigrama" >Organigrama FEMEKA</a></li>
      <li><a rel="preload" href="/#/dashboard/asamblea" >Asamblea</a></li>
      <li><a rel="preload" href="/#/dashboard/eventos">Eventos</a></li>
      <li><a rel="preload" href="/#/dashboard/seminarios">Seminarios</a></li>
      <li><a rel="preload" href="/#/dashboard/noticias">Noticias</a></li>
      <!-- <li><a rel="preload" href="/#/dashboard/renades">Renade</a></li> -->
      <button type="button" class="btn-cerrar" data-toggle="modal" data-target="#exampleModalCenter">Iniciar
        Sesión</button>
    </ul>
  </nav>
</header>

<h4 class="scroll">SCROLL</h4>
<div class="scroll-down4"></div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ACCEDE A TU CUENTA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">

        <form ngNativeValidate #f="ngForm">
          <div class="form-group">
            <label>Usuario</label>
            <input class="form-control" placeholder="Usuario" type="text" required name="nombre" ngModel>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input class="form-control" placeholder="Password" type="password" required name="password" ngModel>
          </div>
        </form>

        <div class="modal-footer">
          <button type="button" class="btn-cerrar" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn-ingresar" id="btn-login" value="Ingresar" [disabled]="f.invalid"
            (click)="ingresar(f)" data-dismiss="modal" >Ingresar</button>
        </div>

      </div>

    </div>
  </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ad0a0a" type = "ball-scale" [fullScreen] = "true"><p style="color: #ad0a0a" > Loading... </p></ngx-spinner>
