@font-face {
    font-family: "Roboto-Light";
    src: url("../../../assets/fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("../../../assets/fonts/Roboto-Bold.ttf") format("truetype");
}

*, body, html{
    padding: 0;
    margin: 0;
}
footer{
    background-color: rgba(0, 0, 0, .5);
    z-index: 0;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    border-top: 1px solid rgba(254, 253, 246, 0.24);

}
.container-fluid{
    margin-top: 5em;  
    padding-left: 5em;
    padding-right: 5em;  
    align-items: center;
    width: 100%;
}
.logo-femeka, .segunda-parte{
    font-family: "Roboto-Light";
    font-size: 10px;
    padding: 20px;
    letter-spacing: 3px;
    text-align: center;

    img{
        width: 30%;
        margin: 5px;
    }

    a{
        text-decoration: none;
    }
}

.organizaciones{
    text-align: center;
    img{
        padding: 10px;
        width: 35%;
    }
}

.segunda-parte{
    border-top: 1px solid rgba(254, 253, 246, 0.24);
    margin-top: 20px;
    p{
        opacity: 0.5;

    }
}
.fa{
    font-size: 15px;
    width: 50px;
    text-decoration: none;
    margin: 5px 2px;
    color: white;

}


.shihan{
    font-family: "Roboto-Light";
    font-size: 10px;
    padding: 20px;
    letter-spacing: 3px;
    text-align: center;
    img{
        width: 40%;
    }
    .presidente{
        font-family: "Roboto-Bold";
    }
    
}

.contactanos{
    font-family: "Roboto-Light";
    font-size: 10px;
    padding: 20px;
    letter-spacing: 3px;
    text-align: center;
    .titulo-cont{
        font-family: "Roboto-Bold";
        font-size: 12px;
        letter-spacing: 5px;
    }

    .bi{
        font-size: 15px;
        width: 50px;
        text-decoration: none;
        margin: 5px 2px;
        color: white;
    }
}