<div class="galeria">
    <div class="fondo"></div>
    <img class="kanji" src="../../../assets/images/img_pagina/kanis-karate.svg" alt="kanji">
    <div class="fadein" style="margin-top: 6%;">
        <!-- IMAGE SLIDESHOW -->
        <img class="slideImages" src="../../../assets/images/img_pagina/GALERIA/9.png">
        <img class="slideImages" src="../../../assets/images/img_pagina/GALERIA/1.png">
        <img class="slideImages" src="../../../assets/images/img_pagina/GALERIA/7.png">

    </div>
</div>