
<app-menu-super-admin></app-menu-super-admin>
<app-gallery></app-gallery>
<div class="menu">
  <div class="contents" style=" margin-top: 100px; margin-left: 300px; margin-right: 300px;">
    <div class="contents__inner">
      <form #form='ngForm' id="renadesForm">
        <div class="input">
          <input type="text" required name="nombre" [(ngModel)]="renade.nombre">
          <span class="input__highlight"></span>
          <span class="input__underline"></span>
          <label>Nombre</label>
        </div>
        <div class="input">
          <input type="text" required name="apellidoPaterno" [(ngModel)]="renade.apellidoPaterno">
          <span class="input__highlight"></span>
          <span class="input__underline"></span>
          <label>Apellido Paterno</label>
        </div>
        <div class="input">
          <input type="text" required name="apellidoMaterno" [(ngModel)]="renade.apellidoMaterno">
          <span class="input__highlight"></span>
          <span class="input__underline"></span>
          <label>Apellido Materno</label>
        </div>
        <div class="input">
          <select name="genero" required [(ngModel)]="renade.genero" id="genero">
            <option value="" selected>Genero</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
        </div>
        <div class="input">
          <input type="text"
                 name="curp"
                 required
                 [(ngModel)]="renade.curp"
                 maxlength="18">
          <span class="input__highlight"></span>
          <span class="input__underline"></span>
          <label>CURP</label>
        </div>
        <div class="input">
          <input type="text" required name="edad" [(ngModel)]="renade.edad">
          <span class="input__highlight"></span>
          <span class="input__underline"></span>
          <label>Edad</label>
        </div>
        <div class="input">
          <input type="date" name="fechaNacimiento" [(ngModel)]="renade.fechaNacimiento">
          <span class="input__highlight"></span>
          <span class="input__underline"></span>
          <label>Fecha de nacimiento</label>
        </div>

        <div class="input">
          <input type="text" required name="estado" [(ngModel)]="renade.estado">
          <span class="input__highlight"></span>
          <span class="input__underline"></span>
          <label>Estado</label>
        </div>

        <div class="input">
          <div class="custome-arrow"></div>
          <select name="tipo" required [(ngModel)]="renade.tipo" id="tipo">
            <option value="" selected>Tipo</option>
            <option value="Atleta">Atlata</option>
          </select>
        </div>

        <div class="input">
          <input type="text" required name="email" [(ngModel)]="renade.email">
          <span class="input__highlight"></span>
          <span class="input__underline"></span>
          <label>Correo electonico</label>
        </div>

        <div class="input">
          <input type="text" required maxlength="10" name="telefono" [(ngModel)]="renade.telefono">
          <span class="input__highlight"></span>
          <span class="input__underline"></span>
          <label>Telefono</label>
        </div>

        <div class="input">
          <input type="text" required name="club" [(ngModel)]="renade.club">
          <span class="input__highlight"></span>
          <span class="input__underline"></span>
          <label>Club</label>
        </div>

        <div class="input">
          <input type="text" required name="directorClub" [(ngModel)]="renade.directorClub">
          <span class="input__highlight"></span>
          <span class="input__underline"></span>
          <label>Director del club</label>
        </div>

        <div class="input">
          <input type="text" required name="direccionClub" [(ngModel)]="renade.direccionClub">
          <span class="input__highlight"></span>
          <span class="input__underline"></span>
          <label>Direccion del club</label>
        </div>

        <div class="ripple-button">
          <button (click)="updateRenade(form)">Actualizar renade</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
