    <form #form='ngForm' id="formulario">
        <h2>DATOS DE PAGO</h2>
        <div class="input">
            <!-- <input type="file" id="upload" required accept="image/png, image/jpeg, image/jpg" class="custom-file-input" name="baucher" ngModel (blur)="guardarBaucher(form)">
            <span class="input__highlight"></span>
            <span class="input__underline"></span>
            <label>Ajuntar ficha de pago de todos los participantes</label> -->
        </div>
        <ngx-dropzone name="imageUrl" (change)="onSelect($event)" class="voucher">
            <ngx-dropzone-label>
                Adjuntar ficha de pago
            </ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                [file]="f">
                <ngx-dropzone-label>
                    {{ f.name }} ({{ f.type }})
                </ngx-dropzone-label>
            </ngx-dropzone-image-preview>
        </ngx-dropzone>
    </form>
