<h2>AGREGAR JUEZ</h2>
<form #form='ngForm' id="formularioJuez">
  <div class="row">
    <div class="col">
      <div class="input">
        <input type="text" class="convertir" required name="curp" [(ngModel)]="datosJuez.curp">
        <span class="input__highlight"></span>
        <span class="input__underline"></span>
        <label>CURP</label>
      </div>
    </div>
    <div class="col">
      <div class="ripple-button">
        <button type="button" (click)="buscarEntrenador()">Buscar Juez</button>
      </div>
    </div>
  </div>
  <div *ngIf="activarDatos">
    <div class="input">
      <input type="text" required name="nombre" [(ngModel)]="datosJuez.nombre">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>Nombre</label>
    </div>
    <div class="input">
      <input type="text" required name="apellidoPaterno" [(ngModel)]="datosJuez.apellidoPaterno">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>Apellido Paterno</label>
    </div>
    <div class="input">
      <input type="text" required name="apellidoMaterno" [(ngModel)]="datosJuez.apellidoMaterno">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>Apellido Materno</label>
    </div>
    <div class="input">
      <select name="sexo"  [(ngModel)]="datosJuez.sexo" id="sexo">
          <option value="" selected>Sexo</option>
          <option value="MASCULINO">Masculino</option>
          <option value="FEMENINO">Femenino</option>
      </select>
    </div>
    <div class="input">
      <select name="tipoSangre" [(ngModel)]="datosJuez.tipoSangre" id="tipoSangre">
        <option value="" selected>Tipo de sangre</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
      </select>
    </div>
    <div class="input">
      <input type="text" class="convertir" required name="padecimientoCronico" [(ngModel)]="datosJuez.padecimientoCronico">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>Padecimiento cronico</label>
    </div>
    <div class="input">
      <div class="custome-arrow"></div>
      <select name="estado"  [(ngModel)]="datosJuez.estado" id="estado">
        <option value="" selected>Estado</option>
        <option value="AGUASCALIENTES">Aguascalientes</option>
        <option value="BAJA CALIFORNIA">Baja California</option>
        <option value="BAJA CALIFORNIA SUR">Baja California Sur</option>
        <option value="CAMPECHE">Campeche</option>
        <option value="CHIAPAS">Chiapas</option>
        <option value="CHIHUAHUA">Chihuahua</option>
        <option value="CDMX">Ciudad de México</option>
        <option value="COAHUILA">Coahuila</option>
        <option value="COLIMA">Colima</option>
        <option value="DURANGO">Durango</option>
        <option value="ESTADO DE MÉXICO">Estado de México</option>
        <option value="GUANAJUATO">Guanajuato</option>
        <option value="GUERRERO">Guerrero</option>
        <option value="HIDALGO">Hidalgo</option>
        <option value="JALISCO">Jalisco</option>
        <option value="MICHOACÁN">Michoacán</option>
        <option value="MORELOS">Morelos</option>
        <option value="NAYARIT">Nayarit</option>
        <option value="NUEVO LEÓN">Nuevo León</option>
        <option value="OAXACA">Oaxaca</option>
        <option value="PUEBLA">Puebla</option>
        <option value="QUERÉTARO">Querétaro</option>
        <option value="QUINTANA ROO">Quintana Roo</option>
        <option value="SAN LUIS POTOSÍ">San Luis Potosí</option>
        <option value="SINALOA">Sinaloa</option>
        <option value="SONORA">Sonora</option>
        <option value="TABASCO">Tabasco</option>
        <option value="TAMAULIPAS">Tamaulipas</option>
        <option value="TLAXCALA">Tlaxcala</option>
        <option value="VERACRUZ">Veracruz</option>
        <option value="YUCATÁN">Yucatán</option>
        <option value="ZACATECAS">Zacatecas</option>
      </select>
    </div>
    <div class="input">
      <input type="text" class="convertir" required name="licencia" [(ngModel)]="datosJuez.licencia">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>Licencia</label>
    </div>
    <div class="input">
      <input type="text" class="convertir" required name="gradoCN" [(ngModel)]="datosJuez.gradoCN">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>Grado C.N.</label>
    </div>
    <div class="input">
      <input type="text" class="convertir" required name="estilo" [(ngModel)]="datosJuez.estilo">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>Estilo</label>
    </div>
    <div class="input">
      <input type="date" name="fechaNacimiento" class="form-control" [(ngModel)]="datosJuez.fechaNacimiento">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>Fecha de nacimiento</label>
    </div>
    <div class="ripple-button" *ngIf="botonEditar">
      <button type="button" (click)="edit(form)">Editar atleta</button>
    </div>
    <div class="ripple-button" *ngIf="botonEnviar">
      <button type="button" (click)="formularioJueces(form)">Agregar juez</button>
    </div>
  </div>
</form>

<div class="fondo_nombre">
  <ul *ngFor="let item of jueces"> {{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}} </ul>
</div>
<div class="fondo_nombre2">
  <ul *ngFor="let item of juecesRegistrados">
    {{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}
    <i class="mdi mdi-account-edit cursor" (click)="editJuez(item)"></i>
    <i class="mdi mdi-account-remove cursor" (click)="deleteJuez(item._id)"></i>
  </ul>
</div>


