
.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}

.nav-pills-custom .nav-link.active {
  color: #fff;
  background: #EA0707;
}

$color-black: #000000;
$color-red: #EA0707;
$color-white: #FFFFFF;
$color-sombra: #918b8b;
$padding: 1em ;
$grey : #999;


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
      content: '';
      display: block;
      border-top: 8px solid transparent;
      border-left: 10px solid #EA0707;
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}



body {
  min-height: 100vh;
  background: linear-gradient(to left, #dce35b, #45b649);
}

.tablaPagos{
  margin-top: 15px;
  margin-bottom: 15px;
}

table{
  margin-left: 8vh;
  margin-top: 2vh;
  width: 90%;
  border-collapse: collapse;
  border: 1px solid white;
  font-family: Roboto-Thin;
  text-align: center;
  font-size: 2vh;
  border: none;
  border-bottom: 1px solid white;
  th{
    text-align: center;
  }
}

.ripple-button button{
	width: 100%;
  font-size: 1em;
  box-sizing: border-box;
  position: relative;
  padding: $padding;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid $color-red;
  background: $color-red;
  color: $color-white;
  letter-spacing: 0.2em;
  user-select: none; // prevent text-selection
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
}

select{
  font-family: Roboto-Regular;
	font-size:1em;
	color: $grey;
	background-color: $color-black;
	padding: 12px !important;
	width: 100%;
	-webkit-appearance: none;
	border: 1px solid $grey;
	border-radius: 0;
}

input{
  font-family: Roboto-Regular;
	font-size:1em;
	color: $grey;
	background-color: $color-black;
	padding: 12px !important;
	width: 100%;
	-webkit-appearance: none;
	border: 1px solid $grey;
	border-radius: 0;
}
