<section class="py-5 header">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-3">
        <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link mb-3 p-3 shadow active" id="v-pills-home-tab" data-toggle="pill" href="#atletas" role="tab" aria-controls="atletas" aria-selected="true">
            <span class="font-weight-bold small text-uppercase">ATLETAS</span>
          </a>
          <a class="nav-link mb-3 p-3 shadow" id="v-pills-home-tab" data-toggle="pill" href="#equipo" role="tab" aria-controls="equipo" aria-selected="flase">
            <span class="font-weight-bold small text-uppercase">EQUIPO DE ATLETAS</span>
          </a>
          <a class="nav-link mb-3 p-3 shadow" id="v-pills-profile-tab" data-toggle="pill" href="#entrenadores" role="tab" aria-controls="entrenadores" aria-selected="false">
            <span class="font-weight-bold small text-uppercase">ENTRENADORES</span>
          </a>
          <a class="nav-link mb-3 p-3 shadow" id="v-pills-messages-tab" data-toggle="pill" href="#jueces" role="tab" aria-controls="jueces" aria-selected="false">
            <span class="font-weight-bold small text-uppercase">JUECES</span>
          </a>
          <a class="nav-link mb-3 p-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#examinadores" role="tab" aria-controls="examinadores" aria-selected="false">
            <span class="font-weight-bold small text-uppercase">EXAMINADORES</span>
          </a>
          <a class="nav-link mb-3 p-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#boucher" role="tab" aria-controls="boucher" aria-selected="false">
            <span class="font-weight-bold small text-uppercase">BOUCHERS</span>
          </a>
        </div>
      </div>

      <div class="col-md-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade shadow rounded bg show active" id="atletas" role="tabpanel" aria-labelledby="atletas-tab">
            <app-atleta (atletass)="atletass($event)"></app-atleta>
          </div>
          <div class="tab-pane fade shadow rounded bg show" id="equipo" role="tabpanel" aria-labelledby="equipo-tab">
            <app-equipo-atletas (equipoatlet)="equipoatlet($event)"></app-equipo-atletas>
          </div>
          <div class="tab-pane fade shadow rounded bg" id="entrenadores" role="tabpanel" aria-labelledby="entrenadores-tab">
            <app-entrenadores (entrenadores)="entrenadores($event)"></app-entrenadores>
          </div>
          <div class="tab-pane fade shadow rounded bg" id="jueces" role="tabpanel" aria-labelledby="jueces-tab">
            <app-juez (juez)="juez($event)"></app-juez>
          </div>
          <div class="tab-pane fade shadow rounded bg" id="examinadores" role="tabpanel" aria-labelledby="examinadores-tab">
            <app-examinadores (examinadores)="examinadores($event)"></app-examinadores>
          </div>
          <div class="tab-pane fade shadow rounded bg" id="boucher" role="tabpanel" aria-labelledby="boucher-tab">
            <form #form='ngForm' id="formulario">
              <h2>DATOS DE PAGO</h2>
              <ngx-dropzone name="imageUrl" (change)="onSelect($event)" class="voucher">
                <ngx-dropzone-label>
                  Adjuntar ficha de pago
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                  *ngFor="let f of files" [file]="f">
                  <ngx-dropzone-label>
                    {{ f.name }} ({{ f.type }})
                  </ngx-dropzone-label>
                </ngx-dropzone-image-preview>
              </ngx-dropzone>

              <div class="row" style="margin-top: 20px;">
                <div class="col-md-4">
                  <label>CONCEPTO</label>
                  <select name="concepto" id="concepto" (change)="agregarConcepto()" [(ngModel)]="concep">
                    <option value="" selected>SELECCIONA EL CONCEPTO</option>
                    <option [value]="item.concepto" *ngFor="let item of conceptosDePagos"> {{item.concepto}} </option>
                  </select>
                </div>
                <div class="col">
                  <label> PRECIO </label>
                  <input type="number" id="costo" name="costo" [(ngModel)]="precioConcepto" disabled>
                </div>
                <div class="col">
                  <label> CANTIDAD </label>
                  <input type="number" id="cantidad" min="0" name="cantidad" [(ngModel)]="cantidad">
                </div>
                <div class="col ripple-button">
                  <button (click)="generarConcepto()">AGREGAR</button>
                </div>
              </div>
            </form>
            <div class="tablaPagos">
              <table class="default" border="1" >
                <tr>
                  <th style="border-right: none;">CONCEPTO</th>
                  <td> PRECIO </td>
                  <th > CANTIDAD </th>
                  <th style="border-left: none;">MONTO ACUMULADO</th>
                </tr>
                <tr *ngFor="let item of desglose">
                  <td>{{item.concepto}}</td>
                  <td>{{item.precio}}</td>
                  <td>{{item.cantidad}}</td>
                  <td>{{item.total}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>{{total}}</td>
                </tr>
              </table>
            </div>
            <div class="ripple-button">
              <button type="button" (click)="enviar()">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
