<header>
	<div class="main-heading">
		<article style="margin-top: 15%;">
			<h1 class="site-title">FEMEKA</h1>
			<h1 class="site-title2">MÉXICO</h1>
		</article>
		<div class="slide-container" style="margin-top: 8%;">
			<!-- Additional required wrapper -->
			<div class="slide-wrapper">
				<!-- Slides -->
				<div class="slide active">
					<img src="" alt="" data-id="">
				</div>
				<div class="slide next">
					<img src="" alt="" data-id="">
				</div>

			</div>
			<div class="slide-arrows">
				<!-- If we need navigation buttons -->

				<div class="button-prev"></div>

				<div class="button-next"></div>
			</div>
			<div class="slide-bullets">
				<span class="bullet selected" data-id="0"></span>
				<span class="bullet" data-id="1"></span>
				<span class="bullet" data-id="2"></span>
				<span class="bullet" data-id="3"></span>
			</div>
		</div>
	</div>
</header>
<div class="wrapper">


	<!-- VIDEOS -->
	<section class=" videos">
		<h3 class="section-title"><span>SOBRE</span><b>FEMEKA</b></h3>
		<div class="content">
			<a class="video-item" href="https://www.youtube.com/watch?v=cLyWS8jjpcM" target="_blank">
				<p class="video-title">¿Quienes somos?</p>
				<span class="video-icon"></span>
				<img src="../../../assets/images/img_pagina/HOME/1-min.JPG" alt="">

			</a>

			<a class="video-item" href="https://www.youtube.com/watch?v=u05X-_Jj0-s&t=19s" target="_blank">
				<p class="video-title">¿Cómo registrarte?</p>
				<span class="video-icon"></span>
				<img src="../../../assets/images/img_pagina/HOME/4-min.JPG" alt="">
			</a>

			<a class="video-item" href="https://www.youtube.com/watch?v=6u63B-3NtbA" target="_blank">
				<p class="video-title">Último Campeonato</p>
				<span class="video-icon"></span>
				<img src="../../../assets/images/img_pagina/HOME/IMG_2751-min.png" alt="">
			</a>

		</div>
	</section>



	<!-- EVENTOS Y SEMINARIOS -->
	<section class="module tour-list" data-aos="fade-right" data-aos-duration="1500">
		<h3 class="section-title"><b>PROXIMOS</b><span>EVENTOS Y SEMINARIOS</span></h3>
		<div class="content">
			<ul class="shows">
				<li>

					<p class="place">1er CAMPEONATO NO CLASIFICADOS, CLASIFICADOS Y PARAKARATE 2022</p>
					<p class="country">Cuernavaca, Morelos</p>
					<div class="button-container">
						<a class="btn-rsvp" href="/#/dashboard/detalles-eventos">ENERO 2022</a>
					</div>
				</li>
			</ul>
			<a href="/#/dashboard/eventos"><button class="btn">VER TODOS</button></a>

		</div>
	</section>


	<!-- NOTICIAS -->

	<!-- <div style="width: 70%;">
			<h3 class="section-title" data-aos="fade-left" data-aos-duration="1500"><span>ÚLTIMAS</span><b>NOTICIAS</b></h3>
			<iframe src="https://snapwidget.com/embed/980003" class="snapwidget-widget" allowtransparency="true"
				frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%;"></iframe>
			<div class="button-container" style="margin-bottom: 50px; margin-top: 15px;" data-aos="fade-left"
				data-aos-duration="1500">
				<a href="/#/dashboard/noticias"><button class="btn">VER
						MÁS</button></a>
			</div>
	</div> -->

	<!-- SELECCIONADOS NACIONALES -->
	<section class="module album">
		<h3 class="section-title" data-aos="zoom-in" data-aos-duration="1500">
			<b>SELECCIONADOS</b><span>NACIONALES</span>
		</h3>
	</section>
	<div class=card-grid-parent data-aos="fade-right" data-aos-duration="1500">
		<div class="card"
			style="background-image: url(../../../assets/images/img_pagina/HOME/1.\ LEONARDO\ RODRIGUEZ.jpg)">
			<div class="card-content">
				<h2 class="card-title">
					Leonardo Rodríguez Bermea
				</h2>
				<p class="card-body">
					Septiembre 2021 - 3er LUGAR EN LA PREMIERE LEAGUE, CAIRO
				</p>
				<a class="button">Nuevo León</a>
			</div>
		</div>
		<div class="card" style="background-image: url(../../../assets/images/img_pagina/HOME/3.\ SHAI\ FLORES.jpg)">
			<div class="card-content">
				<h2 class="card-title">
					Shai Patricia Flores González Rubio
				</h2>
				<p class="card-body">
					Diciembre 2021 - Usa Open, Categoría Mayor Femenil, Medalla de Bronce <br>
					Diciembre 2021 - Usa Open, Categoría U21 18/20, Medalla de Oro
				</p>
				<a class="button">BCS</a>
			</div>
		</div>
		<div class="card" style="background-image: url(../../../assets/images/img_pagina/HOME/2.\ LEONARDO\ LIRA.jpg)">
			<div class="card-content">
				<h2 class="card-title">
					Leonardo Lira Esquivel
				</h2>
				<p class="card-body">
					Diciembre 2021 - Medalla de bronce en kata representando a México en la Youth League de Venecia,
					Italia
				</p>
				<a class="button">Nuevo León</a>
			</div>
		</div>
		<div class="card" style="background-image: url(../../../assets/images/img_pagina/HOME/4.\ RUT\ PATRICIA.jpg)">
			<div class="card-content">
				<h2 class="card-title">
					Ruth Silva
				</h2>
				<p class="card-body">
					Diciembre 2021 - Representante de México en la Youth League de Venecia, Italia
				</p>
				<a class="button">Nuevo León</a>
			</div>
		</div>
		<div class="card" style="background-image: url(../../../assets/images/img_pagina/HOME/5.\ CARLOS\ LIRA.jpg)">
			<div class="card-content">
				<h2 class="card-title">
					Carlos Lira
				</h2>
				<p class="card-body">
					Diciembre 2021 - Representante de México en la Youth League de Venecia, Italia
				</p>
				<a class="button">Nuevo León</a>
			</div>
		</div>
		<div class="card" style="background-image: url(../../../assets/images/img_pagina/HOME/6.\ MIRANDA.jpg)">
			<div class="card-content">
				<h2 class="card-title">
					Miranda Garza
				</h2>
				<p class="card-body">
					Diciembre 2021 - Representante de México en la Youth League de Venecia, Italia
				</p>
				<a class="button">Nuevo León</a>
			</div>
		</div>
		<div class="card"
			style="background-image: url(../../../assets/images/img_pagina/HOME/7.\ JESUS\ CERVANTES.jpg)">
			<div class="card-content">
				<h2 class="card-title">
					Jesus Cervantes
				</h2>
				<p class="card-body">
					Diciembre 2021 - Representante de México en la Youth League de Venecia, Italia
				</p>
				<a class="button">Nuevo León</a>
			</div>
		</div>
		<div class="card"
			style="background-image: url(../../../assets/images/img_pagina/HOME/8.\ PATRICIO\ VIDEGARRAY.jpg)">
			<div class="card-content">
				<h2 class="card-title">
					Patricio Videgaray Pérez
				</h2>
				<p class="card-body">
					Diciembre 2021 - Representante de México en la Youth League de Venecia, Italia
				</p>
				<a class="button">Nuevo León</a>
			</div>
		</div>
		<div class="card"
			style="background-image: url(../../../assets/images/img_pagina/HOME/12.\ LEONARDO\ CORNELIO.jpg)">
			<div class="card-content">
				<h2 class="card-title">
					Leonardo cornelio
				</h2>
				<p class="card-body">
					Diciembre 2021 - Representante de México en la Youth League de Venecia, Italia
				</p>
				<a class="button">Nuevo León</a>
			</div>
		</div>
		<div class="card"
			style="background-image: url(../../../assets/images/img_pagina/HOME/13.\ ALEJANDRO\ MORALES.jpg)">
			<div class="card-content">
				<h2 class="card-title">
					Alejandro Morales Avitia
				</h2>
				<p class="card-body">
					Diciembre 2021 - Junior Olimpic Cup, Medalla de Oro en Categoría 14/15 años <br>
					Diciembre 2021 - Usa Open, Medalla de Plata en Categoria 14/15 años menos de 57
				</p>
				<a class="button">BCS</a>
			</div>
		</div>
	</div>



	<!-- DESTACADOS FEMEKA -->
	<section class="module album">
		<h3 class="section-title" data-aos="zoom-in" data-aos-duration="1500"><b>DESTACADOS</b><span>FEMEKA</span></h3>
	</section>
	<div class=card-grid-parent data-aos="fade-right" data-aos-duration="1500">
		<div class="card"
			style="background-image: url(../../../assets/images/img_pagina/HOME/9.\ FERNANDA\ MENDOZA.jpg)">
			<div class="card-content">
				<h2 class="card-title">
					Fernanda Denisse Mendoza Velázquez
				</h2>
				<p class="card-body">
					Julio 2021 - Campeonato Nacional San Luis Potosí 1er lugar kumite <br>
					Septiembre 2021 - Campeonato Nacional Oaxtepec, Morelos 1er lugar kumite <br>
					Octubre 2021 - Copa ISKA Puebla, Puebla 1er lugar kumite <br>
					Noviembre 2021 - Copa Mabuni Puebla, Puebla 1er lugar kumite
				</p>
				<a class="button" style="padding: .5em .5em;">Morelos</a>
			</div>
		</div>

		<div class="card" style="background-image: url(../../../assets/images/img_pagina/HOME/12.\ CHIPOL.jpg)">
			<div class="card-content">
				<h2 class="card-title">
					Tania Lizbeth Obil Chipol
				</h2>
				<p class="card-body">
					Julio 2021 - Campeonato nacional de Karate Do, San Luis Potosí, 1er lugar kata individual <br>
					Septiembre 2021 - Campeonato nacional de Karate Do, Oaxtepec Morelos, 1er lugar kata individual
				</p>
				<a class="button">Morelos</a>
			</div>
		</div>

		<div class="card" style="background-image: url(../../../assets/images/img_pagina/HOME/11.\ Alan\ Cuevas.jpg)">
			<div class="card-content">
				<h2 class="card-title">
					Alan Ever Cuevas Guzman
				</h2>
				<p class="card-body">
					Campeón estatal Jalisco <br>
					Campeón nacional San Luis Potosí
				</p>
				<a class="button">Jalisco</a>
			</div>
		</div>

		<div class="card"
			style="background-image: url(../../../assets/images/img_pagina/HOME/10.\ Bedelia\ Duarte.jpg)">
			<div class="card-content">
				<h2 class="card-title">
					Bedelía Duarte Salamanca
				</h2>
				<p class="card-body">
					Marzo 2021 - 1er lugar Kata, Campeonato Nacional Femeka Membresia 2021, Chipalcingo
					Julio 2021 - Ganadora de entre los 3 primeros lugares en 5 distintas categorias, San Luis P.
					Octubre 2021 - 3er lugar Femeka Kata Virtual 2021
					Noviembre 2021 - Campeonato Nacional Universitario (CONDDE) 2021
				</p>
				<a class="button">Guerrero</a>
			</div>
		</div>

		<div class="card" style="background-image: url(../../../assets/images/img_pagina/HOME/14\ Merilleli.jpg)">
			<div class="card-content">
				<h2 class="card-title">
					MERILLELA ARREOLA FERREYRA
				</h2>
				<p class="card-body">
					Abril 2020 - 1er lugar en el Selectivo Nacional Rumbo al Campeonato Centroamericano y del Caribe,
					San Salvador, El Salvador <br>
					Septiembre y Julio 2021 - Campeona de Kumite en nacional de San Luis Potosí 2021 y Oaxtepec Morelos
					2021
				</p>
				<a class="button">PUEBLA</a>
			</div>
		</div>

		<div class="card" style="background-image: url(../../../assets/images/img_pagina/HOME/15.\ Michelle.jpg)">
			<div class="card-content">
				<h2 class="card-title">
					Ana Michelle Godinez Garfias
				</h2>
				<p class="card-body">
					1er lugar virtual 2021 <br>
					1er lugar nacional de Oaxtepec, Morelos
				</p>
				<a class="button">Morelos</a>
			</div>
		</div>



	</div>
</div>
