html{
  background-color: #000;
}
@font-face {
    font-family: "Roboto-Black";
    src: url("../../../assets/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../../../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-Thin";
    src: url("../../../assets/fonts/Roboto-Thin.ttf") format("truetype");
}

  
.images{
    display: flex;
    max-width: 100vw;
    height: 100vh;
    margin: 0 auto;

}

img{
    filter: grayscale(100%);
}
.box__image{
    flex: 1;
    height: 100%;
    transition: all .4s cubic-bezier(.14, .69, .93, 1);
    position: relative;

}


.box__image:hover{
    flex: 3;
    transform: scaleY(1.05);
    cursor: pointer; 
}

.box__image:hover img{
    filter: grayscale(0%);
}
.box__image:hover figcaption{
    display: inline-block;
    
}


.img{
    display: block;
    width: 100%; 
    max-width: 100%; 
    height: 100%;
    object-fit: cover;
    transition: all 3s;

    animation-name:revelImage;
    animation-duration: 1.1s;
    animation-delay: .5s; 
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    
}

.img__text {
    display: none;
    color: #fff;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 5vh;
	 font-weight: 900;
    width: 100%;
    position: absolute;
    top:30%;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
}

.img__text h3{
    text-align: left;
    text-transform: uppercase;
    font-size: 8vh;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 2px rgb(173, 10, 10);
    margin: 0 10px;
}


@keyframes revelImage{
    from{
        opacity: 0;
        width: 0%;       
    }
    to{
        opacity: 1;
        width: 80%;       
         
    }
}


//content


.main {
  display: grid;
  grid-template-columns:
    [full-start] minmax(100px, 1fr) [center-start] repeat(
      12,
      [col-start] minmax(min-content, 120px) [col-end]
    )
    [center-end] minmax(100px, 1fr) [full-end];
  grid-template-rows: min-content calc(100vh - 120px) 100vh;
}

.header {
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  grid-column: center-start / center-end;
  grid-row: 1 / 2;
  display: grid;
  height: 120px;
  grid-template-columns: repeat(3, 1fr);
}

.first-section {
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  grid-column: center-start / center-end;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: relative;
}
.second-section {
  padding: 0 20px;
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  grid-column: center-start / center-end;
  grid-row: 3 / 4;
  display: grid;
  position: relative;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, min-content);
  grid-gap: 20px;
  .box {
    width: 600px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    right: -15%;
    z-index: -1;
  }

  .heading-4 {
    margin-top: 10px;
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-self: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #a8a8a8;
    font-size: 15px;
  }

  .heading-1 {
    grid-row: 2 / 3;
    grid-column: 3 / 7;
    justify-self: center;
    font-size: 40px;
    font-weight: 500;
  }

  .info-1 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, min-content);
    grid-row: 4 / -1;
    grid-column: 1 / -1;
    grid-gap: 20px;
    position: relative;

    &__text {
      grid-row: 1 / -1;
      grid-column: 1 / 5;
      display: grid;
      grid-template-rows: repeat(6, min-content);
      grid-gap: 25px;

      span.quote {
        font-size: 120px;
        transform: translateY(80px);
      }

      .heading-3 {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        font-size: 36px;
        font-weight: 500;
      }

      p.paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.7;
        grid-row: 3 / 4;
        width: 75%;
      }
    }

    &__visual {
      grid-column: 5/-1;
      grid-row: 1/-1;
      height: 500px;
      margin-right: 20px;
      overflow: hidden;
    }
  }
}

.menu {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  list-style: none;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(170px, min-content));

  &__item {
    padding: 15px 20px;
  }

  &__link {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.5px;
  }
}
.menu-right {
  grid-row: 1 / 2;
  grid-column: 3 / -1;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.visuals {
  grid-column: 3/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 30px;
  padding: 30px;

  .image-container {
    overflow: hidden;
  }

  .image-container:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
  }
  .image-container:nth-child(2) {
    grid-column: 4 / 8;
    grid-row: 1 / 5;
  }
}

.info {
  position: absolute;
  z-index: 20;
  top: 20%;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  margin-left: 20px;

  h1.heading-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    font-size: 60px;
    font-weight: 600;
  }

  p.paragraph {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  a.btn--start {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
  }
}




//CONTENT

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");

$font-01: "Roboto",
sans-serif;

$m-01: #b80b0b;
$m-02: #e7eff5;
$g-01: linear-gradient(225deg, $m-01 0%, #cc2e2e 100%);
$g-02: linear-gradient(180deg, #1d0101 10%, #000000 100%);

$neu-01: #f5f5f5;
$neu-02: #eaeaea;
$neu-03: #d2d2d2;
$neu-04: #b7b7b7;
$neu-05: #9c9c9c;
$neu-06: #404145;
$neu-07: #1c1c1e;

@mixin xl {
   @media screen and (max-width: 1440px) {
       @content;
   }
}

@mixin lg {
   @media screen and (max-width: 1240px) {
       @content;
   }
}

@mixin md {
   @media screen and (max-width: 1023px) {
       @content;
   }
}

@mixin sm {
   @media screen and (max-width: 799px) {
       @content;
   }
}

@mixin xs {
   @media screen and (max-width: 639px) {
       @content;
   }
}

@mixin xxs {
   @media screen and (max-width: 380px) {
       @content;
   }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
i {
   margin: 0;
   padding: 0;
   list-style: none;
   border: 0;
   -webkit-tap-highlight-color: transparent;
   text-decoration: none;
   color: inherit;

   &:focus {
       outline: 0;
   }
}

body {
   margin: 0;
   padding: 0;
   font-family: $font-01;
   overflow-x: hidden;

   &.no-scroll {
       overflow: hidden;
   }
}

.btn {
   min-width: 160px;
   padding: 16px 30px;
   box-shadow: inset 0px 0px 0px 1px $m-01;
   border: 0;
   background-color: white;
   color: $m-01;
   text-transform: uppercase;
   font-weight: 800;
   font-size: 14px;
   position: relative;
   letter-spacing: 0.05em;
   cursor: pointer;
   margin: auto;
   display: block;

   &:focus {
       outline: 0;
   }

   &:before {
       width: 100%;
       height: 100%;
       background-color: $m-01;
       position: absolute;
       content: "";
       z-index: -1;
       left: 0;
       top: 0;
       transition: all 0.3s ease;
       transform: translate(6px, 6px);
   }

   &:hover {
       &:before {
           transform: translate(0px, 0px);
       }
   }
}

// Content
.wrapper {

   .section-title {
       color: rgb(173, 10, 10);
       text-transform: uppercase;
       text-align: center;
       position: relative;
       display: flex;
       align-items: baseline;
       justify-content: center;
       font-weight: 900;
       font-size: 50px;
       line-height: normal;
       letter-spacing: 0.04em;
       height: 120px;
       grid-column: 1 / 15;
       margin-bottom: 40px;

       @include sm {
           font-size: 32px;
           height: 76px;
           margin-bottom: 30px;
       }

       b {
           font-weight: 900;
           margin: 0 10px;

           @include sm {
               font-size: 3vh;
               margin: 0 5px;
           }
       }

       span {
           color: transparent;
           -webkit-text-stroke: 1px rgb(173, 10, 10);
           margin: 0 10px;

           @include sm {
               font-size: 3vh;
               margin: 0 5px;
           }
       }

       &:before {
           content: "";
           width: 10px;
           height: 40px;
           background-color: $neu-02;
           position: absolute;
           transform: rotate(20deg);
           bottom: 0;

           @include sm {
               width: 7px;
               height: 26px;
           }
       }


   }

   .module {
       display: grid;
       grid-template-columns: repeat(14, 1fr);
       grid-column-gap: 20px;
       width: 100%;
       max-width: 1920px;
       margin: auto;

       @include sm {
           grid-column-gap: 10px;

           grid-template-columns: 10px repeat(12, 1fr) 10px;

       }

       .content {
           grid-column: 3 / 13;
           width: 100%;
           display: grid;
           grid-template-columns: repeat(10, 1fr);
           grid-column-gap: 20px;

           @include md {
               grid-column: 2 / 14;
           }

           @include sm {
               grid-template-columns: repeat(1, 1fr);
               grid-column: 2 / 14;
           }
       }
   }

   section {
       padding-top: 100px;
       padding-bottom: 100px;

       @include sm {
           padding-top: 40px;
           padding-bottom: 40px;
       }
   }
}


nav {
   .icon-menu {
       width: 48px;
       height: 48px;
       z-index: 5;
       top: 40px;
       right: 40px;
       position: fixed;
       display: flex;
       justify-content: center;
       align-items: center;
       cursor: pointer;
       transition: all 0.6s ease;
       box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0.1);
       background: transparent;

       @include sm {
           top: 10px;
           right: 10px;
       }

       span {
           display: flex;
           width: 32px;
           height: 2px;
           background-color: white;
           border-radius: 6px;
           display: flex;
           justify-content: center;
           align-items: center;
           transition: all 0.4s 0.2s ease;

           &:before,
           &:after {
               position: absolute;
               width: 32px;
               height: 2px;
               content: '';
               background-color: inherit;
               transform-origin: center;
           }

           &:before {
               transition: all 0.3s ease;
               top: 14px;
           }

           &:after {
               bottom: 14px;
               transition: all 0.3s ease;
           }


       }

       &:hover {
           transition: all 0.6s ease;
           box-shadow: inset 0px 0px 0px 25px rgba(255, 255, 255, 0.2);

           span {
               &:before {
                   top: 11px;
               }

               &:after {
                   bottom: 11px;
               }
           }

           @include sm {
               box-shadow: none;
           }
       }

       &.icon-open {
           span {
               width: 0;
               transition: all 0.4s 0.2s ease;

               &:before {
                   transition: all 0.4s 0.2s ease;
                   top: 22px;
                   transform: rotate(45deg);
               }

               &:after {
                   transition: all 0.4s 0.3s ease;
                   bottom: 23px;
                   transform: rotate(-45deg);
               }
           }
       }

       &.sticky {
           transition: all 0.6s ease;
           background: $g-01;
           position: fixed;
       }

   }

   .main-nav {
       display: none;

       .menu {
           width: 100vw;
           height: 100vh;
           position: fixed;
           top: 0;
           z-index: 4;
           display: flex;
           justify-content: center;
           align-items: center;

           &:before,
           &:after {
               content: '';
               position: absolute;
               width: 100vw;
               height: 100%;
               top: 0;
               left: 0;
           }

           &:before {
               background-color: white;
               z-index: 2;
               opacity: 0.8;
               box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
           }

           &:after {
               background: $g-01;
               z-index: 3;
           }

           .menu-items {
               z-index: 5;

               .item {
                   color: $m-01;
                   text-transform: uppercase;
                   text-align: center;
                   position: relative;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   font-weight: 900;
                   font-size: 50px;
                   line-height: normal;
                   letter-spacing: 0.04em;
                   color: transparent;
                   -webkit-text-stroke: 1px white;
                   z-index: 5;
                   padding: 10px;
                   transition: all 0.4s ease;
                   cursor: pointer;
                   position: relative;

                   @include sm {
                       font-size: 40px;
                   }

                   &:before {
                       content: '';
                       position: absolute;
                       width: 0%;
                       height: 60%;
                       transition: width 0.6s ease, opacity 2s ease;
                       z-index: -1;
                       opacity: 0;
                       background: $m-01;

                       @include sm {
                           display: none;
                       }
                   }


                   &:hover {
                       color: white;

                       @include sm {
                           color: transparent;
                       }
                   }


               }
           }


       }

       &.menu-open {
           display: block;

           .menu {
               &:before {
                   animation: menuOpen 1s ease both;
               }

               &:after {
                   animation: menuOpen 0.6s 0.3s ease both;
               }

               @keyframes menuOpen {
                   0% {
                       transform: translateY(-100%);
                   }

                   100% {
                       transform: translateY(0%);
                   }
               }

               .menu-items {
                   .item {
                       animation: itemMenu 0.4s 0.6s ease both;

                       @keyframes itemMenu {
                           0% {
                               transform: translateY(-50px);
                               opacity: 0;
                           }

                           100% {
                               transform: translateY(0);
                               opacity: 1;
                           }
                       }

                       &:nth-child(1) {
                           animation-delay: 0.6s;

                           &:before {
                               transform: translate(15px, -20px);
                           }
                       }

                       &:nth-child(2) {
                           animation-delay: 0.8s;

                           &:before {
                               transform: translate(-50px, -12px);
                           }
                       }

                       &:nth-child(3) {
                           animation-delay: 1s;

                           &:before {
                               transform: translate(28px, -14px);
                           }
                       }

                       &:nth-child(4) {
                           animation-delay: 1.2s;

                           &:before {
                               transform: translate(-24px, -17px);
                           }
                       }

                       &:hover {
                           &:before {
                               opacity: 1;
                               width: 80%;
                               height: 60%;
                           }

                           &:nth-child(2) {
                               &:before {
                                   width: 50%;
                               }
                           }

                           &:nth-child(3) {
                               &:before {
                                   width: 60%;
                               }
                           }
                       }
                   }
               }
           }
       }

       &.menu-close {
           .menu {

               &:before {
                   animation: menuClose 0.6s 0.3s ease both;
               }

               &:after {
                   animation: menuClose 0.6s ease both;
               }

               @keyframes menuClose {
                   0% {
                       transform: translateY(0%);
                   }

                   100% {
                       transform: translateY(-100%);
                   }
               }

               .menu-items {
                   .item {
                       animation: itemClose 0.4s ease both;


                       &:nth-child(1),
                       &:nth-child(2),
                       &:nth-child(3),
                       &:nth-child(4) {
                           animation-delay: 0s;
                       }

                       @keyframes itemClose {
                           0% {
                               transform: translateY(0px);
                               opacity: 1;
                           }

                           100% {
                               transform: translateY(-100%);
                               opacity: 0;
                           }
                       }
                   }
               }
           }
       }
   }
}


// Header
header {
   width: 100%;
   background-image: $g-02;

   .main-heading {
       width: 100%;
       max-width: 1920px;
       margin: 0 auto;
       display: grid;
       grid-template-columns: repeat(14, 1fr);
       grid-column-gap: 20px;
       position: relative;
       transition: all 0.4s ease;

       @include sm {
           grid-template-columns: 10px repeat(12, 1fr) 10px;
           grid-column-gap: 10px;
       }

       &:before {
           content: "";
           position: absolute;
           width: 100vw;
           height: calc(100% + 50px);
           grid-column-start: 3;
           transition: all 0.4s ease;

           @include md {
               grid-column-start: 2;
           }

           @include sm {
               width: 100%;
               grid-column-end: 15;
               height: calc(100% + 20px);
           }
       }

       article {
           grid-column-start: 3;
           position: absolute;
           z-index: 2;
           color: white;
           margin-top: 120px;

           @include md {
               grid-column-start: 2;
           }

           @include sm {
               grid-column-start: 2;
               margin-top: 40px;
           }

           .site-title {
               font-size: 120px;
               font-weight: 800;
               text-transform: uppercase;
               display: inline-block;
               color: transparent;
               -webkit-text-stroke: 2px white;

               @include sm {
                   font-size: 68px;
                   -webkit-text-stroke: 1px white;
               }
           }
           .site-title2 {
            font-size: 120px;
            font-weight: 800;
            text-transform: uppercase;
            display: inline-block;

            @include sm {
              font-size: 68px;
            }
             }
       }

       .slide-container {
           width: 100%;
           height: 680px;
           grid-column: 2 / 14;
           position: relative;
           box-sizing: border-box;
           display: grid;
           grid-template-columns: repeat(9, 1fr);
           grid-column-gap: 20px;

           @include md {
               grid-column: 3 / 14;
           }

           @include sm {
            grid-column: 2 / 14;
               height: 400px;
           }

           .slide-wrapper {
               display: grid;
               grid-template-columns: repeat(9, 1fr);
               grid-column-gap: 20px;
               grid-column: 1 / 10;

               .slide {
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   background-color: $m-01;
                   grid-column: 1 / 13;
                   visibility: hidden;
                   overflow: hidden;
                   height: 480px;
                   position: absolute;
                   transition: all 0.4s ease;
                   z-index: 1;

                   @include sm {
                       grid-column: 1 / 10;
                   }

                   &.active {
                       opacity: 1;
                       visibility: visible;
                       height: 480px;
                       transition: all 0.4s ease;
                       top: 160px;
                       background-color: $m-01;

                       @include sm {
                           height: 300px;
                           top: 80px;
                       }
                   }

                   &.next {
                       transition: all 0.4s ease;
                       width: 260px;
                       height: 160px;
                       opacity: 1;
                       grid-column-end: 10;
                       visibility: visible;
                       position: absolute;
                       right: 0;
                       bottom: -50px;

                       @include sm {
                           display: none;
                       }
                   }

                   img {
                       object-fit: cover;
                       width: 80vw; //borrar si ya o funciona bien a 100%
                       height: 100%;

                       @include md{
                        width: 100%;
                       }
                       @include sm{
                        width:100%;
                       }
                   }

                   &.anime-in {
                       &:before {
                           content: "";
                           width: 100%;
                           height: 100%;
                           position: absolute;
                           background-image: $g-02;
                           animation: anime-in-before 0.6s ease both;

                           @keyframes anime-in-before {
                               0% {
                                   transform: translateX(101%);
                               }
                           }
                       }

                       img {
                           animation: anime-in 0.6s 0.4s ease both;
                           z-index: 1;

                           @keyframes anime-in {
                               0% {
                                   transform: translateX(101%);
                               }
                           }
                       }
                   }

                   &.anime-next-in {
                       img {
                           animation: anime-next-in 0.4s 0.2s ease both;
                           z-index: 1;

                           @keyframes anime-next-in {
                               0% {
                                   transform: translateX(101%);
                               }
                           }
                       }
                   }

                   &.anime-out {
                       &:before {
                           content: "";
                           width: 100%;
                           height: 100%;
                           position: absolute;
                           background-image: $g-02;
                           animation: anime-out-before 0.6s ease both;

                           @keyframes anime-out-before {
                               0% {
                                   transform: translateX(-101%);
                               }
                           }
                       }

                       img {
                           animation: anime-out 0.6s 0.4s ease both;
                           z-index: 1;

                           @keyframes anime-out {
                               0% {
                                   transform: translateX(-101%);
                               }
                           }
                       }
                   }

                   &.anime-next-out {
                       img {
                           animation: anime-next-out 0.4s 0.2s ease both;
                           z-index: 1;

                           @keyframes anime-next-out {
                               0% {
                                   transform: translateX(-101%);
                               }
                           }
                       }
                   }
               }
           }

           .slide-arrows {
               position: absolute;
               right: 0;
               display: flex;
               flex-direction: column;
               bottom: 180px;
               width: 60px;
               height: 200px;
               justify-content: center;
               align-items: center;

               @include sm {
                   display: none;
               }

               .button-prev,
               .button-next {
                   bottom: 0;
                   top: initial;
                   width: 60px;
                   height: 60px;
                   position: initial;
                   margin-top: 0;
                   transition: all 0.4s ease;
                   box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
                   background-size: 24px;
                   background-repeat: no-repeat;
                   background-position: center;
                   cursor: pointer;

                   &:focus {
                       outline: 0;
                   }

                   &:hover {
                       box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1),
                           inset 0px 0px 0px 6px rgba(255, 255, 255, 0.2);
                       //background-color: rgba(255,255,255,0.2);
                   }
               }

               .button-prev {
                   background-image: url(https://rafaelavlucas.github.io/assets/icons/white/icon-13.svg);
               }

               .button-next {
                   background-image: url(https://rafaelavlucas.github.io/assets/icons/white/icon-15.svg);
                   margin-top: 20px;
               }
           }

           .slide-bullets {
               bottom: -50px;
               height: 80px;
               width: calc(100% - 280px);
               position: initial;
               display: flex;
               justify-content: flex-end;
               align-items: flex-end;
               position: absolute;
               grid-column-start: 1;

               @include sm {
                   width: 100%;
                   bottom: -20px;
               }

               .bullet {
                   background-color: transparent;
                   opacity: 1;
                   box-shadow: inset 0px 0px 0px 1px white;
                   width: 8px;
                   height: 30px;
                   transition: all 0.4s ease;
                   margin: 0 10px;

                   @include sm {
                       width: 6px;
                       height: 20px;
                       margin: 0 6px;
                   }

                   &.selected {
                       box-shadow: inset 0px 0px 0px 1px white,
                           inset 0px -60px 0px 0px white;
                       height: 40px;

                       @include sm {
                           height: 30px;
                       }
                   }


               }
           }
       }
   }
}


// modules
.tour-list {
   padding-top: 150px !important;

   @include sm {
       padding-top: 60px !important;
   }

   &:before {
       content: "";
       position: absolute;
       width: 6%;
       max-width: 120px;
       height: 500px;
       border: 1px solid $m-01;
       right: 0;
       transform: translatey(-200px);
       animation: beforeShape1 6s ease infinite alternate both;

       @keyframes beforeShape1 {
           0% {
               transform: translate(50px, -200px);
           }

           100% {
               transform: translate(0px, -280px);
           }
       }

       @include md {
           display: none;
       }
   }

   .content {
       width: 100%;
       margin: auto;

       .shows {
           margin-bottom: 60px;
           grid-column: 1 / 11;

           @include sm {
               margin-bottom: 40px;
           }

           li {
               display: grid;
               grid-template-columns: auto 3fr 2fr auto;
               grid-column-gap: 4%;
               text-transform: uppercase;
               font-family: $font-01;
               font-size: 16px;
               letter-spacing: 0.3px;
               font-weight: 600;
               align-items: center;
               padding: 20px 10px;
               border-bottom: 1px solid $m-02;
               grid-template-areas: "date place country buttons";
               transition: all 0.6s ease;
               cursor: default;



               @include lg {
                   grid-template-columns: 2fr 1fr;
                   grid-template-areas:
                       "date date date"
                       "place country buttons";
                   grid-row-gap: 20px;
               }

               @include md {
                   grid-template-columns: auto 1fr auto;
                   grid-template-areas:
                       "date place place"
                       ". country buttons";
                   grid-row-gap: 20px;
               }

               @include sm {
                   padding: 20px 0 20px 0;
                   grid-template-columns: 1fr 1fr;
                   grid-template-areas:
                       "date ."
                       "place country"
                       "buttons buttons";

                   &:first-child {
                       padding: 0px 0 20px 0;
                   }
               }

               @include xs {
                   grid-template-columns: 1fr;
                   grid-template-areas:
                       "date ."
                       "place place"
                       "country country"
                       "buttons buttons";
               }

               &:hover {
                   background-color: rgba(231, 239, 245, 0.5);

                   @include sm {
                       background-color: transparent;
                   }
               }

               date {
                   color: $m-01;
                   grid-area: date;
               }

               .place {
                   color: white;
                   grid-area: place;
               }

               .country {
                   color: $neu-04;
                   font-weight: normal;
                   grid-area: country;
               }

               .button-container {
                   display: flex;
                   grid-area: buttons;

                   .btn-rsvp,
                   .btn-buy {
                       font-style: normal;
                       font-weight: 600;
                       font-size: 14px;
                       line-height: 16px;
                       letter-spacing: 0.05em;
                       text-transform: uppercase;
                       font-family: $font-01;
                       box-shadow: inset 0px 0px 0px 1px $m-01;
                       color: $m-01;
                       background-color: transparent;
                       padding: 8px 16px;
                       transition: all 0.6s ease;
                       border: 0;
                       cursor: pointer;

                       &:hover {
                           box-shadow: inset 0px 0px 0px 1px $m-01,
                               inset 0px -40px 0px $m-01;
                           color: white;
                       }
                   }

                   .btn-rsvp {
                       color: $neu-05;
                       box-shadow: inset 0px 0px 0px 1px $neu-05;
                       margin-right: 10px;

                       &:hover {
                           box-shadow: inset 0px 0px 0px 1px $neu-05,
                               inset 0px -40px 0px $neu-05;
                           color: white;
                       }
                   }
               }
           }
       }

       a {
           grid-column: 1 / 11;
       }
   }
}

.videos {
   position: relative;

   &:before {
       content: "";
       position: absolute;
       width: 16%;
       max-width: 390px;
       height: 630px;
       background-color: rgb(53, 3, 3);
       left: 0;
       animation: beforeShape2 6s ease infinite alternate both;

       @keyframes beforeShape2 {
           0% {
               transform: translate(-50px, 0px);
           }

           100% {
               transform: translate(0px, 50px);
           }
       }


       @include md {
           display: none;
       }
   }

   .content {

       display: grid;
       grid-template-columns: repeat(3, 1fr);

       @include sm {
           grid-template-columns: 1fr
       }

       .video-item {
           background-color: $m-01;
           height: 430px;
           overflow: hidden;
           display: flex;
           justify-content: center;
           align-items: center;
           position: relative;
           cursor: pointer;
           width: calc(100% - 1px);

           &:last-child {
               width: 100%;
           }

           @include xl {
               height: 320px;
           }

           @include md {
               height: 240px;
           }

           @include sm {
               width: 100%;
               height: 200px;
               margin-bottom: 1px;
           }



           img {
               width: 100%;
               height: 100%;
               object-fit: cover;
               filter: grayscale(100%);
               -webkit-filter: grayscale(100%);
               transition: all 0.8s ease-out;
           }

           .video-title {
               position: absolute;
               z-index: 3;
               color: transparent;
               -webkit-text-stroke: 1px white;
               font-weight: 900;
               font-size: 40px;
               letter-spacing: 1.5px;
               text-transform: uppercase;
               transition: all 0.6s ease;
               width: 80%;
               text-align: center;
               height: 100px;
               display: flex;
               justify-content: center;
               align-items: center;

               @include lg {
                   font-size: 28px;
               }
           }

           .video-icon {
               position: absolute;
               opacity: 0;
               color: white;
               transition: all 0.4s ease;
               z-index: 3;
               transform: translateY(100px);
               width: 32px;
               height: 32px;
               display: block;
               background-image: url(https://rafaelavlucas.github.io/assets/icons/white/icon-179.svg);

               @include sm {
                   transform: translateY(80px);
               }
           }

           &:before,
           &:after {
               content: '';
               width: 100%;
               height: 100%;
               position: absolute;
               top: 0;
               transition: all 0.6s ease;

           }

           &:before {
               background-color: $neu-06;
               opacity: 0.8;
               z-index: 1;

           }

           &:after {
               background-color: $m-01;
               opacity: 0.2;
               z-index: 2;
           }

           &:hover {

               .video-title {
                   color: white;
                   transform: translateY(-10px);
               }

               .video-icon {
                   opacity: 1;
                   transform: translateY(60px);

                   @include sm {
                       transform: translateY(40px);
                   }
               }


               img {
                   transform: scale(1.2);
               }

               &:before {
                   opacity: 0.4;
               }

               &:after {
                   opacity: 0.8;
               }

           }
       }
   }

   .modal-video {
       z-index: 5;
       position: fixed;
       width: 100vw;
       height: 100vh;
       top: 0;
       left: 0;
       visibility: hidden;

       &:before,
       &:after {
           content: '';
           width: 100%;
           height: 100%;
           position: absolute;
           top: 0;
           transition: all 0.4s ease;
           opacity: 0;
       }

       &:before {
           background-color: $neu-06;
       }

       &:after {
           background-color: $m-01;
           z-index: -1;
       }

       .wrapper-video {
           width: calc(80vw - 80px);
           max-width: 1280px;
           height: calc(80vh - 80px);
           background-color: white;
           position: absolute;
           top: calc(50% + 100px);
           left: 50%;
           transform: translate(-50%, -50%) perspective(100em) rotateX(20deg);
           transition: all 0.4s ease;
           opacity: 0;
           display: flex;
           justify-content: center;
           align-items: center;

           @include sm {
               width: initial;
               height: initial;
           }


           .close-video {
               width: 32px;
               height: 32px;
               position: fixed;
               background-image: url(https://rafaelavlucas.github.io/assets/icons/gray1/icon-61.svg);
               right: 40px;
               top: 40px;
               cursor: pointer;
               transition: all 0.4s ease;

               &:hover {
                   transform: rotate(90deg);
               }

               @include sm {
                   right: 20px;
                   top: 20px;
               }
           }

           .video-container {
               width: calc(100% - 80px);
               max-width: 820px;
               margin: auto;

               @include sm {
                   width: calc(100% - 40px);
               }

               .video-code {
                   position: relative;
                   padding-bottom: 56.25%;
                   padding-top: 30px;
                   height: 0;
                   overflow: hidden;

                   iframe {
                       transform: translateY(50px);
                       opacity: 0;
                       transition: all 0.6s ease;
                       position: absolute;
                       top: 0;
                       left: 0;
                       width: 100%;
                       height: 100%;
                   }
               }
           }
       }

       &.video-open {
           transition: all 0.6s ease;
           visibility: visible;

           &:before {
               opacity: 0.8;
           }

           &:after {
               opacity: 0.2;
           }

           .wrapper-video {
               width: 90vw;
               height: 80vh;
               opacity: 1;
               top: 50%;
               transform: translate(-50%, -50%) perspective(0em) rotateX(0deg);

               @include sm {
                   width: calc(100% - 40px);
                   height: auto;
                   padding: 80px 0;
               }

               .video-container {
                   .video-code {
                       iframe {
                           transform: translateY(0px);
                           background-color: $m-01;
                           transition: all 0.4s 0.4s ease;
                           opacity: 1;
                       }
                   }
               }

           }
       }

   }
}

.album {


   &:before {
       content: "";
       position: absolute;
       width: 20%;
       //max-width: 440px;
       height: 520px;
       border: 1px solid $m-01;
       right: 0;
       animation: beforeShape3 6s ease infinite alternate both;

       @keyframes beforeShape3 {
           0% {
               transform: translate(50px, 50px);
           }

           100% {
               transform: translate(0px, -50px);
           }
       }


       @include md {
           display: none;
       }
   }

   .content {
       grid-template-rows: auto auto auto;
       //grid-template-areas: "cover cover cover cover""button tracks";

       @include sm {
           justify-items: center;
           grid-template-columns: 1fr;
           width: 100%;
       }

       .cover {
           grid-column: 1 / 5;
           grid-row: 1 / 2;
           z-index: 1;
           height: fit-content;

           @include sm {
               grid-column: 1;
               width: 100%;
               height: 200px;

           }


           .cover-img {
               width: 100%;
               padding-bottom: 100%;
               overflow: hidden;
               position: relative;
               display: flex;
               justify-content: center;

               @include sm {
                   width: 100%;
                   height: 200px;
                   padding: 0;
               }

               img {
                   width: 100%;
                   height: 100%;
                   object-fit: cover;
                   position: absolute;

                   @include sm {
                       width: 200px;
                       height: 200px;
                   }


               }
           }
       }

       .tracks {

           grid-column: 3 / 11;
           grid-row: 1 / 3;
           transform: translateY(50px);
           position: relative;
           display: grid;
           grid-template-columns: repeat(8, 1fr);
           grid-column-gap: 20px;
           //grid-area: tracks;

           @include sm {
               width: 100%;
               grid-column: 1;
               grid-template-columns: 1fr;
           }

           &:before {
               width: 100%;
               height: 100%;
               content: '';
               position: absolute;
               background-image: $g-01;
               opacity: 0.5;
               z-index: -1;
           }

           .tracklist {
               grid-column: 3 / 11;
               padding: 80px 0;
               z-index: 1;
               padding-right: 20px;


               @include md {
                   grid-column: 3 / 9;
               }

               @include sm {
                   padding: 190px 0 40px 0;
                   grid-column: 1;
               }

               li {
                   display: flex;
                   justify-content: space-between;
                   align-items: center;
                   text-transform: uppercase;
                   font-family: $font-01;
                   font-size: 14px;
                   line-height: 20px;
                   letter-spacing: 0.3px;
                   font-weight: 600;
                   padding: 0px 20px;
                   height: 45px;
                   transition: all 0.6s ease;
                   position: relative;
                   margin: 0 10%;
                   cursor: default;

                   @include lg {
                       margin: 0 6%;
                   }

                   @include md {
                       margin: 0;
                   }

                   @include sm {
                       margin: 0 10%;
                       padding: 0px;
                   }

                   @include xs {
                       margin: 0 20px;
                       font-size: 12px;
                   }

                   article {
                       display: flex;
                   }


                   p {
                       color: $neu-06;
                       transition: all 0.2s ease;
                   }

                   span {
                       margin-right: 20px;
                       color: $m-01;
                       transition: all 0.2s ease;

                       @include sm {
                           margin-right: 10px;
                       }
                   }

                   small {
                       font-size: 12px;
                       color: $neu-04;
                       font-weight: normal;
                       margin-left: 10px;
                       line-height: 20px;
                       letter-spacing: 0.05em;
                       transition: all 0.4s ease;

                       @include sm {
                           font-size: 12px;
                           margin-left: 10px;
                       }

                       @include xxs {
                           display: none;
                       }
                   }

                   .icons {
                       display: flex;

                       i {
                           width: 20px;
                           height: 20px;
                           background-image: url(https://rafaelavlucas.github.io/assets/icons/white/icon-13.svg);
                           display: block;
                           margin-left: 20px;
                           opacity: 0;
                           transition: all 0.4s ease;
                           transform: translateX(20px);
                           cursor: pointer;

                           &:first-child {
                               margin-left: 0;
                           }

                           @include sm {
                               opacity: 0.6;
                               transform: translateX(0px);
                           }
                       }

                       .like {
                           background-image: url(https://rafaelavlucas.github.io/assets/icons/white/icon-123.svg);

                           @include sm {
                               background-image: url(https://rafaelavlucas.github.io/assets/icons/gray1/icon-123.svg);
                           }

                       }

                       .play {
                           background-image: url(https://rafaelavlucas.github.io/assets/icons/white/icon-179.svg);

                           @include sm {
                               background-image: url(https://rafaelavlucas.github.io/assets/icons/gray1/icon-179.svg);
                           }
                       }
                   }

                 /*  &:hover {
                       background-color: $m-01;
                       box-shadow: inset 0px -1px 0px white;

                       p {
                           color: white;
                       }

                       span {
                           color: $m-02;
                       }

                       small {
                           color: $neu-02;
                       }

                       i {
                           opacity: 0.5;
                           transform: translateX(0px);

                           &:hover {
                               opacity: 1;
                           }
                       }

                       @include sm {
                           background-color: transparent;
                           box-shadow: none;

                           span {
                               color: $m-01;
                           }

                           p {
                               color: $neu-06;
                           }

                           small {
                               color: $neu-04;
                           }
                       }
                   }*/
               }
           }
       }

       .button-container {
           grid-row: 2 / 4;
           grid-column: 1 / 5;
           margin-top: 30px;
           z-index: 2;
           //grid-area: button;

           @include sm {
               grid-row: 3;
               grid-column: 1;
           }
       }
   }

}

.follow {
   position: relative;

   &:before,
   &:after {
       content: "";
       position: absolute;
       width: 40%;
       height: 300px;
       background-color: $m-02;
       left: 0;
       bottom: 0;
       animation: beforeShape5 6s 1s ease infinite alternate both;


       @keyframes beforeShape5 {
           0% {
               transform: translate(-60%, 50px);
           }

           100% {
               transform: translate(-50%, -50px);
           }
       }


       @include md {
           display: none;
       }
   }

   &:after {
       z-index: -1;
       left: initial;
       width: 100%;
       grid-column: 12 / 14;
       right: 0;
       top: 0;
       height: 400px;
       animation: beforeShape6 6s 1s ease infinite alternate both;

       @keyframes beforeShape6 {
           0% {
               transform: translate(0px, 150px);
           }

           100% {
               transform: translate(50px, 180px);
           }
       }
   }

   .content {


       @include sm {
           grid-template-columns: repeat(1, 1fr);
           grid-row-gap: 10px;
       }

       .newsletter,
       .social {
           overflow: hidden;
           position: relative;
           height: 360px;
           display: flex;
           justify-content: center;
           align-items: center;

           @include md {
               height: 280px;
           }

           @include md {
               height: 200px;
           }


           img {
               width: 100%;
               height: 100%;
               object-fit: cover;
               filter: grayscale(100%);
               -webkit-filter: grayscale(100%);
           }

           .social-title {
               position: absolute;
               z-index: 3;
               color: transparent;
               -webkit-text-stroke: 1px white;
               font-weight: 900;
               font-size: 40px;
               letter-spacing: 1.5px;
               text-transform: uppercase;
               transition: all 0.6s ease;


               @include lg {
                   font-size: 28px;
               }


           }

           &:before,
           &:after {
               width: 100%;
               height: 100%;
               position: absolute;
               content: '';
               background-color: $m-01;
               z-index: 1;
               left: 0;
               top: 0;
               transition: all 0.4s ease;
           }

           &:before {
               mix-blend-mode: multiply;
           }

           &:after {
               opacity: 0.6;
               z-index: 2;
           }

           &:hover {
               &:after {
                   opacity: 0.8;

                   @include sm {
                       opacity: 0.6;
                   }
               }

               .social-title {
                   color: white;

                   @include sm {
                       color: transparent;
                   }
               }
           }
       }

       .newsletter {
           grid-column: 1 / 6;
           background-color: $m-01;

           @include sm {
               grid-column: 1;
           }

           .social-title {
               left: 40px;
               top: 20px;

               @include sm {
                   left: 20px;
               }
           }

           .form {
               z-index: 3;
               position: absolute;
               width: 100%;
               padding: 0 10%;
               box-sizing: border-box;

               @include sm {
                   padding: 0 20px;
               }

               input {
                   width: 100%;
                   background-color: transparent;
                   color: white;
                   border: 0;
                   box-shadow: inset 0px -2px 0px white;
                   padding: 10px 40px 10px 10px;
                   text-transform: uppercase;
                   font-weight: 900;
                   font-size: 18px;
                   letter-spacing: 0.05em;
                   box-sizing: border-box;

                   &:focus {
                       outline: 0;
                   }

                   &::placeholder {
                       color: white;
                       text-transform: uppercase;
                       font-weight: 900;
                       font-size: 18px;
                       opacity: 0.5;
                       letter-spacing: 0.05em;

                       @include sm {
                           font-size: 14px;
                       }
                   }

                   @include sm {
                       font-size: 14px;
                   }
               }

               .send {
                   width: 24px;
                   height: 24px;
                   position: absolute;
                   z-index: 3;
                   right: 10%;
                   top: 0;
                   transition: all 0.4s ease;
                   background-image: url(https://rafaelavlucas.github.io/assets/icons/white/icon-12.svg);
                   transform: translate(-10px, 5px);
                   cursor: pointer;

                   @include sm {
                       right: 20px;
                       transform: translate(-10px, 5px);
                   }

                   &:hover {
                       transform: translate(0px, 5px);
                   }
               }
           }
       }

       .social {
           grid-column: 6 / 11;
           background-color: $m-02;
           transform: translateY(50px);
           position: relative;

           @include sm {
               grid-column: 1;
               transform: translateY(0px);
           }

           .social-title {
               right: 40px;
               top: 20px;
               cursor: default;

               @include sm {
                   right: 20px;
               }
           }

           .social-icons {
               z-index: 3;
               position: absolute;
               width: 100%;
               display: flex;
               justify-content: center;


               .network {
                   margin: 0 5%;
                   cursor: pointer;
                   position: relative;
                   display: flex;
                   justify-content: center;

                   @include md {
                       margin: 0 4%;
                   }

                   @include sm {
                       margin: 0 5%;
                   }

                   img {
                       width: 48px;
                       height: 48px;
                       transition: all 0.4s ease;

                       @include md {
                           width: 40px;
                           height: 40px;
                       }

                       @include sm {
                           width: 32px;
                           height: 32px;
                       }
                   }

                   .social-name {
                       opacity: 0;
                       font-size: 14px;
                       color: $m-02;
                       text-transform: uppercase;
                       font-weight: 500;
                       letter-spacing: 1px;
                       position: absolute;
                       bottom: 0;
                       transition: all 0.4s ease;
                       transform: translateY(60px);

                       @include sm {
                           display: none;
                       }

                   }

                   &:hover {

                       img {
                           transform: translateY(-10px);

                           @include sm {
                               transform: translateY(0px);
                           }
                       }

                       .social-name {
                           transform: translateY(30px);
                           opacity: 0.8;

                       }

                   }
               }

           }
       }


   }
}


@media screen and (max-width: 600px) {

  header{
    margin-top: 120px;
  }
}

//SELECCIONADOS
:root {
	--clr-neutral-900: hsl(207, 19%, 9%);
	--clr-neutral-100: hsl(0, 100%, 100%);
	--clr-accent-400: hsl(147, 90%, 61%);
}


.card-grid-parent {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 3em;
/* 	min-height: 90vh; */
	place-items: center;
	line-height: 1.6;
	background-color: var(--clr-neutral-900);
/* 	padding: 0 10em 0 10em; */
}


.card {
	color: var(--clr-neutral-100);
	background-image: url("https://images.pexels.com/photos/10278125/pexels-photo-10278125.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	background-size: cover;
	padding: 10rem 0 0;
	max-width: 35ch;
	border-radius: 10px;
	overflow: hidden;
	transition: transform 500ms ease;
}
.card:hover,
.card:focus-within {
	transform: scale(1.08);
}

.card-content {
    font-family: 'Roboto-Thin';
    font-size: 1vh;
    letter-spacing: 2px;

	--padding: 1.5rem;
	padding: var(--padding);
	background: linear-gradient(
		hsl(0 0% 0% / 0),
		hsl(20 0% 0% / .3) 20%,
		hsl(0 0% 0% / 1));
}

.card-title {
    font-family: 'Roboto-Black';
    font-size: 2vh;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
	position: relative;
	color: white;

} 
.card-title::after {
	content: "";
	position: absolute;
	height: 4px;
	width: calc(100% + var(--padding));
	background: var(--clr-accent-400);
	left: calc(var(--padding) * -1);
	bottom: -2px;
	transform: scaleX(0);
	transition: transform 500ms ease;
	transform-origin: 0;
} 

.card:hover .card-title::after, 
.card:focus-within .card-title::after {
	transform: scaleX(1);
}

.card:hover .card-title, 
.card:focus-within .card-title {
/* 	transform: scale(1.05); */
}

.card-body {
	--txt-color: rgb(255 255 255 / 0.85);
	color: var(--txt-color);
	height: 6em;
	overflow: hidden;
}

.button {
	cursor: text;
    font-family: 'Roboto-Regular';
    font-size: 2vh;
    letter-spacing: 5px;
    text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	color: var(--clr-neutral-900);
	background-color: var(--clr-accent-400);
	padding: .5em 1.5em;
	border-radius: .25em;
}

.button:hover,
.button:focus {
	background-color: var(--clr-neutral-100);
}

.image-text {
	font-family: 'Anton', sans-serif;
	font-size: calc(2rem + 7vw);
	text-align: center;
	background-image: url("https://images.pexels.com/photos/225203/pexels-photo-225203.jpeg");
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center; 
	color: rgb(255 255 255 / 0.2);
	text-transform: uppercase;
	outline: 1px none red;
	margin: 0 1em .4em 1em;
	
	transition: background-size 2000ms ease;
}

.image-text:hover {
	background-size: 150%;
}


/* ======= Media query rules ======= */

@media screen and (min-width: 1600px) {
    .card-grid-parent {
        padding: 0 7em 0 7em;
    }
}
/* lg */
@media screen and (min-width: 1200px) {
    .card-grid-parent {
        grid-template-columns: auto auto auto auto;
    }
}
/* md */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .card-grid-parent {
        grid-template-columns: auto auto auto;
    }
}
/* sm */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .card-grid-parent {
        grid-template-columns: auto auto;
    }
}
/* xs */
@media screen and (max-width: 768px) {
	.card-grid-parent {
        grid-template-columns: auto;
    }
	.card {
		padding: 8rem 0 0;
	}
}



@media screen and (min-width: 360px) and (max-width: 992px) {
    .snapwidget-widget{
        height:3080px;
    }
}