<app-menu-extendido-admin></app-menu-extendido-admin>
<div class="fondo"></div>

<div class="contents" style="z-index: 999;">
    <div class="contents__inner">
        <div class="registros">
            <h1>Registros Campeonato</h1>
            <!-- <h2>Oaxtepec, Morelos</h2> -->
            <h2 class="total">Total participantes</h2>

            <div class="Rtable Rtable--4cols Rtable--collapse js-RtableAccordions">

                <button class="Accordion" role="tab" aria-selected="true">ATLETAS</button>
                <div class="Rtable-cell  Rtable-cell--head">
                    <h2>ATLETAS</h2>
                </div>
                <div class="Rtable-cell">
                   {{totalAtleta}}
                </div>

                <button class="Accordion" role="tab" aria-selected="false">EXAMINADORES</button>
                <div class="Rtable-cell  Rtable-cell--head">
                    <h2>EXAMINADORES</h2>
                </div>
                <div class="Rtable-cell">{{totalExaminadores}}</div>

                <button class="Accordion" role="tab" aria-selected="false">ENTRENADORES</button>
                <div class="Rtable-cell  Rtable-cell--head">
                    <h2>ENTRENADORES</h2>
                </div>
                <div class="Rtable-cell">{{totalEntrenadores}}</div>

                <button class="Accordion" role="tab" aria-selected="false">JUECES</button>
                <div class="Rtable-cell  Rtable-cell--head">
                    <h2>JUECES</h2>
                </div>
                <div class="Rtable-cell"> {{totalJuces}} </div>
            </div>

            <h2 class="total">Participantes por estado</h2>
            <div class="input">
                <div class="custome-arrow"></div>
                <select name="estado" [(ngModel)]="estadoSeleccionado" id="estado" (change)="estado()">
                    <option value="" selected>Estado</option>
                    <option value="Aguascalientes">Aguascalientes</option>
                    <option value="Baja California">Baja California</option>
                    <option value="Baja California Sur">Baja California Sur</option>
                    <option value="Campeche">Campeche</option>
                    <option value="Chiapas">Chiapas</option>
                    <option value="Chihuahua">Chihuahua</option>
                    <option value="CDMX">Ciudad de México</option>
                    <option value="Coahuila">Coahuila</option>
                    <option value="Colima">Colima</option>
                    <option value="Durango">Durango</option>
                    <option value="Estado de México">Estado de México</option>
                    <option value="Guanajuato">Guanajuato</option>
                    <option value="Guerrero">Guerrero</option>
                    <option value="Hidalgo">Hidalgo</option>
                    <option value="Jalisco">Jalisco</option>
                    <option value="Michoacán">Michoacán</option>
                    <option value="Morelos">Morelos</option>
                    <option value="Nayarit">Nayarit</option>
                    <option value="Nuevo León">Nuevo León</option>
                    <option value="Oaxaca">Oaxaca</option>
                    <option value="Puebla">Puebla</option>
                    <option value="Querétaro">Querétaro</option>
                    <option value="Quintana Roo">Quintana Roo</option>
                    <option value="San Luis Potosí">San Luis Potosí</option>
                    <option value="Sinaloa">Sinaloa</option>
                    <option value="Sonora">Sonora</option>
                    <option value="Tabasco">Tabasco</option>
                    <option value="Tamaulipas">Tamaulipas</option>
                    <option value="Tlaxcala">Tlaxcala</option>
                    <option value="Veracruz">Veracruz</option>
                    <option value="Yucatán">Yucatán</option>
                    <option value="Zacatecas">Zacatecas</option>
                    <option value="Jonacatepec">Jonacatepec</option>
                </select>
            </div>

            <table border="1">
                <tr>
                    <th>
                        Atletas
                    </th>
                </tr>
                <tr *ngFor="let item of atletasEstado">
                    <td >{{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}</td>
                </tr>

                <tr class="totales">
                    <td >
                        {{atletasEstado.length}}
                    </td>

                </tr>
            </table>

            <table border="1" *ngIf="juecesEstados.length != 0">
                <tr>
                    <th>
                        Jueces
                    </th>
                </tr>
                <tr *ngFor="let item of juecesEstados">
                    <td >{{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}</td>

                </tr>

                <tr class="totales">
                    <td >
                        {{juecesEstados.length}}
                    </td>

                </tr>
            </table>

            <table border="1" *ngIf="entrenadoresEstados.length != 0">
                <tr>
                    <th>
                        Entrenadores
                    </th>
                </tr>
                <tr *ngFor="let item of entrenadoresEstados">
                    <td >{{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}</td>

                </tr>

                <tr class="totales">
                    <td >
                        {{entrenadoresEstados.length}}
                    </td>

                </tr>
            </table>

            <table border="1" *ngIf="examinadoresEstados.length != 0">
                <tr>
                    <th>
                        Examinadores
                    </th>
                </tr>
                <tr *ngFor="let item of examinadoresEstados">
                    <td >{{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}</td>

                </tr>

                <tr class="totales">
                    <td >
                        {{examinadoresEstados.length}}
                    </td>

                </tr>
            </table>

            <div class="ripple-button">
              <div *ngIf="habilitar" id="img">
                <div *ngFor="let item of img">
                  <img [src]="item">
                </div>
              </div>
              <button type="button" (click)="descargarVoucher()">VER VOUCHER</button>
              <!-- <button type="button" (click)="descargarVoucher()">VER VOUCHER</button> -->
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>