@font-face {
    font-family: "Bacalisties";
    src: url("../../../assets/fonts/Bacalisties.ttf") format("truetype");
}

.titulo{
    bottom: 30px;
    margin-top: 30px;
    border-right: 1px solid #fff;
    height: 100vh;
    h1{
        font-weight: 900;
        font-size: 65px;
        line-height: 54px;
        letter-spacing: 0.1em;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        position: absolute;
        bottom: 30px;
    }
}

.texto{
    margin-top: 10%;
    h3{
        font-family: "Bacalisties";
        text-transform: lowercase;
        line-height: 94px;
        font-size: 6em;
    }
    h4{
        letter-spacing: 0.1em;
        text-align: justify;
        font-weight: 300;
    }
    p{
        text-align: justify;
        letter-spacing: 2px;
        font-size: 1.2em;
        line-height: 32px;
    }
    .video{
        position: relative;
        margin-bottom: 20px;
        padding-top: 56.25%;
        -webkit-box-shadow: 10px 10px 63px -28px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 63px -28px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 63px -28px rgba(0,0,0,0.75);

        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%
        }
    }
}

@media only screen and (max-width: 600px) {
    .texto{

        margin-top: 10%;
        h3{
            margin-top: 200px;
            text-align: center;
        }
        p{
            padding: 20px;
        }
    }
    .titulo{
        visibility:hidden;
        display: none;
        
    }
  }







  .carousel {
    width: 100%;
    height: 50%;
    display: flex;   
    overflow: hidden;
  position: absolute;
  align-items: center;
}

.carousel-item {
  visibility:visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    background-color: rgba(0, 0, 0, .1);
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
    display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 20px;
  width: 40%;

}

.carousel-item__image {
    width: 60%;
    height: 100%;
    order: 2;
    align-self: flex-end;
    flex-basis: 60%;
  
      -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 60%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}


.carousel-item__title {
    margin: 5px 0 0 0;
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    line-height: 25px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #ffffff;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #b4b3b3;
    margin-bottom: 15px;
    font-size: 10px;
}

.carousel-item--1 .carousel-item__image{
  background-image: url('../../../assets/images/img_pagina/GALERIA/organigrama1.jpg');
  filter: grayscale(80%);
}


.carousel-item--2 .carousel-item__image{
  background-image: url('../../../assets/images/img_pagina/GALERIA/organigrama2.jpg');
  filter: grayscale(80%);
}

.carousel-item--3 .carousel-item__image{
    background-image: url('../../../assets/images/img_pagina/GALERIA/organigrama-default.jpg');
    filter: grayscale(80%);
}

.carousel-item--4 .carousel-item__image{
    background-image: url('../../../assets/images/img_pagina/GALERIA/organigrama4.jpg');
    filter: grayscale(80%);
}

.carousel-item--5 .carousel-item__image{
    background-image: url('../../../assets/images/img_pagina/GALERIA/organigrama5.jpg');
    filter: grayscale(80%);
}

.carousel-item--6 .carousel-item__image{
    background-image: url('../../../assets/images/img_pagina/GALERIA/organigrama6.jpg');
    filter: grayscale(80%);
  }


.carousel-item__btn {
    width: 35%;
    color: #2C2C2C;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
    text-decoration: none;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
  bottom: 0;
}

.carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
  fill: #5d5d5d;
}

.carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
}

.carousel__arrow:nth-child(1):after {
    content:'';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.active{
   z-index: 1;
  display: flex;
  visibility:visible;
}

.active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn{
    transform: translateY(0);
    opacity: 1;
  transition: 0.6s all ease-in-out;
    visibility: visible;
}



.active .carousel-item__image{ 
transition: 0.6s all ease-in-out;
transform: translateX(0);
}


@media only screen and (max-width: 600px) {
    .carousel{
        position: relative;
        margin-bottom: 780px;
    }

}