<!-- <app-preloader></app-preloader> -->
<app-header-publico></app-header-publico>
<app-gallery></app-gallery>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 titulo">
            <h1 class="animate__animated animate__fadeInUpBig animate__delay-2s">ORGANIGRAMA </h1>
        </div>
        <div class="col-md-2"></div>
        <div class="col-sm-6 texto">
            <h3 class="animate__animated animate__flipInX animate__delay-1s">Consejo directivo</h3>
            <h4>DE LA FEDERACIÓN MEXICANA DE KARATE Y ARTES MARCIALES AFINES A.C. </h4>
            <p class="animate__animated animate__fadeIn animate__delay-1s">Es el órgano permanente de dirección, control
                y representación. Conformado por 12 miembros, que han sido electos por la Asamblea General de Asociados.
            </p>

            <div class="carousel">
                <div class="carousel__nav">
                    <span id="moveLeft" class="carousel__arrow">
                        <svg class="carousel__icon" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
                        </svg>
                    </span>
                    <span id="moveRight" class="carousel__arrow">
                        <svg class="carousel__icon" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
                        </svg>
                    </span>
                </div>
                <div class="carousel-item carousel-item--1">
                    <div class="carousel-item__image"></div>
                    <div class="carousel-item__info">
                        <div class="carousel-item__container">
                            <h1 class="carousel-item__title">PRESIDENTE</h1>
                            <p class="carousel-item__description">SHIHAN OSCAR GODINEZ BALVÁS</p>
                            <h1 class="carousel-item__title">VICEPRESIDENTE</h1>
                            <p class="carousel-item__description">Mtro. MIGUEL A. HERNANDEZ GONZALEZ</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-item--2">
                    <div class="carousel-item__image"></div>
                    <div class="carousel-item__info">
                        <div class="carousel-item__container">
                            <h1 class="carousel-item__title">SECRETARIO</h1>
                            <p class="carousel-item__description">Mtro. ALFONSO AGUIRRE GONZALEZ</p>
                            <h1 class="carousel-item__title">TESORERO</h1>
                            <p class="carousel-item__description">Mtro. JESUS MANUEL MONTOYA</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-item--3">
                    <div class="carousel-item__image"></div>
                    <div class="carousel-item__info">
                        <div class="carousel-item__container">
                            <h1 class="carousel-item__title">COMISARIO</h1>
                            <p class="carousel-item__description">Mtro. VICTOR ORAMAS GUZMAN</p>
                            <h1 class="carousel-item__title">REPRESENTANTE JURIDICO </h1>
                            <p class="carousel-item__description">Mtro. MAURO FAUSTO MOGUEL ESPERON</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item carousel-item--4">
                    <div class="carousel-item__image"></div>
                    <div class="carousel-item__info">
                        <div class="carousel-item__container">
                            <h1 class="carousel-item__title">VOCAL DIRECTIVO</h1>
                            <p class="carousel-item__description">Mtro. PEDRO VERA FRANCO</p>
                            <h1 class="carousel-item__title">VOCAL DIRECTIVO</h1>
                            <p class="carousel-item__description">Mtro. JORGE EDUARDO MEZA LOPEZ</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item carousel-item--5">
                    <div class="carousel-item__image"></div>
                    <div class="carousel-item__info">
                        <div class="carousel-item__container">
                            <h1 class="carousel-item__title">VOCAL DIRECTIVO</h1>
                            <p class="carousel-item__description">Mtro. SAMUEL DE LA CRUZ COY</p>
                            <h1 class="carousel-item__title">VOCAL DIRECTIVO</h1>
                            <p class="carousel-item__description">Mtro. JULIAN MARTINEZ SUAREZ</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item carousel-item--6">
                    <div class="carousel-item__image"></div>
                    <div class="carousel-item__info">
                        <div class="carousel-item__container">
                            <h1 class="carousel-item__title">VOCAL DEPORTISTA FEMENIL</h1>
                            <p class="carousel-item__description">Mtra. MARIA CRISTINA MADRID SOLIS</p>
                            <h1 class="carousel-item__title">VOCAL DEPORTISTA VARONIL</h1>
                            <p class="carousel-item__description">Mtro. YANKEL GODINEZ PEREZ</p>
                        </div>
                    </div>
                </div>

            </div>






        </div>
    </div>
</div>
<app-footer></app-footer>
