<!-- <app-preloader></app-preloader> -->
<app-header-publico></app-header-publico>
<app-gallery></app-gallery>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 titulo">
            <h1 class="animate__animated animate__fadeInUpBig animate__delay-2s">ACERCA DE</h1>
        </div>
        <div class="col-md-2"></div>
        <div class="col-sm-6 texto">
            <h3 class="animate__animated animate__flipInX animate__delay-1s">FEMEKA</h3>
            <p class="animate__animated animate__zoomIn animate__delay-1s">La Federación Mexicana de Karate y Artes
                Marciales Afines A.C., es una institución deportiva reconocida por la Comisión Nacional de Cultura
                Física y Deporte (CONADE), la Confederación Deportiva Mexicana A.C. (CODEME) y el Comité Olímpico
                Mexicano (COM), que tiene como objetivo principal fomentar, supervisar y organizar el Karate en México.
            </p>
            <div class="video animate__animated animate__zoomIn animate__delay-2s">
                <iframe src="https://www.youtube.com/embed/cLyWS8jjpcM" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
