@font-face {
    font-family: "Bacalisties";
    src: url("../../../assets/fonts/Bacalisties.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Black";
    src: url("../../../assets/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../../../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-Thin";
    src: url("../../../assets/fonts/Roboto-Thin.ttf") format("truetype");
}

.texto{
    margin-top: 10%;
    h1{
        letter-spacing: 2px;
        font-weight: 900;
    }
    h3{
        margin-top: -30px;
        font-family: "Bacalisties";
        text-transform: lowercase;
        line-height: 94px;
        font-size: 6em;
    }
    p{
        text-align: justify;
        letter-spacing: 2px;
        font-size: 1.2em;
        line-height: 32px;
    }
    h2{
        margin-top: 5%;
    }
    
}

.descripcion{
    h1{
        font-family: 'Roboto-Regular';
        text-align: center;
        font-size: 3vh;
        letter-spacing: 2px;
    }
    h3{
        font-family: 'Roboto-Thin';
        text-align: center;
        font-size: 2vh;
        letter-spacing: 5px;
    }
    h4{
        text-align: center;
        font-family: 'Roboto-Regular';
        font-size: 2vh;
        letter-spacing: 5px;
    }
    p{
        text-align: center;
        font-family: 'Roboto-Thin';
        font-size: 12px;
        letter-spacing: 5px;
    }
}

.btn {
    min-width: 160px;
    padding: 16px 30px;
    box-shadow: inset 0px 0px 0px 1px red;
    border: 0;
    background-color: white;
    color: red;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    position: relative;
    letter-spacing: 0.05em;
    cursor: pointer;
    margin: auto;
    display: block;
 
    &:focus {
        outline: 0;
    }
 
    &:before {
        width: 100%;
        height: 100%;
        background-color: red;
        position: absolute;
        content: "";
        z-index: -1;
        left: 0;
        top: 0;
        transition: all 0.3s ease;
        transform: translate(6px, 6px);
    }
 
    &:hover {
        &:before {
            transform: translate(0px, 0px);
        }
    }
 }
 

@media only screen and (max-width: 600px) {
    .texto{

        margin-top: 10%;
        h3{
            margin-top: 200px;
            text-align: center;
        }
        p{
            padding: 20px;
        }
    }
    .titulo{
        visibility:hidden;
        display: none;
        
    }
  }
