<!-- <app-preloader></app-preloader> -->
<app-header-publico></app-header-publico>
<app-gallery></app-gallery>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 texto"></div>
        <div class="col-sm-4 texto">
            <h3 class="animate__animated animate__flipInX animate__delay-1s">Eventos</h3>
            <h2>II CAMPEONATO NACIONAL FEMEKA de KATA Y PARAKARATE VIRTUAL</h2>
            <p>¡Están cordialmente invitados al II Campeonato Nacional FEMEKA de KATA Y PARAKARATE VIRTUAL! <br>
                A celebrarse el día sábado 23 y domingo 24 de Octubre del año en curso a partir de las 10:00 hrs tiempo
                del centro de México. <br>
                ¡No faltes!</p>

        </div>
        <div class="col-sm-4" data-aos="fade-right" data-aos-offset="500"
            data-aos-easing="ease-in-sine">
            <img class="d-block w-100 mx-auto d-block" style="margin-top: 15%;"
                src="../../../assets/images/eventos/CAMPEONATO NACIONAL VIRTUAL.jpg" alt="eventos">
        </div>
    </div>

    <div class="row mt-5 descripcion" style="margin-left: 15%; margin-right: 15%;" data-aos="fade-left"
        data-aos-offset="500"  data-aos-easing="ease-in-sine">
        <div class="col">
            <h1>LUGAR DEL EVENTO</h1>
            <h3>MORELOS</h3>
            <img class="d-block w-75 mx-auto d-block" src="../../../assets/images/img_pagina/ESTADOS/morelos.png"
                alt="eventos">
        </div>
        <div class="col">
            <h1>FECHA DE INSCRIPCIÓN</h1>
            <h3>Del 01 al 15 de octubre del 2021</h3>
            <img class="d-block w-75 mx-auto d-block"
                src="../../../assets/images/img_pagina/CALENDARIOS/OCTUBRE-EVENTO.jpg" alt="eventos">
        </div>
        <div class="col">
            <h1>FECHA DE EVENTO</h1>
            <h3>Del 23 al 24 de octubre del 2021</h3>
            <img class="d-block w-75 mx-auto d-block"
                src="../../../assets/images/img_pagina/CALENDARIOS/OCTUBRE-INSCRIPCION.jpg" alt="eventos">
        </div>
    </div>

    <div class="row mt-5 descripcion" style="margin-left: 15%; margin-right: 15%;" data-aos="fade-right"
        data-aos-offset="500"  data-aos-easing="ease-in-sine">
        <div class="col ms-5">
            <h1>INFORMACIÓN GENERAL</h1>
            <h4>Lugar:</h4>
            <p>Virtual</p>
            <h4>Modalidad:</h4>
            <p>Virtual</p>
            <h4>Tipo de evento:</h4>
            <p>Nacional</p>
            <h4>Informes:</h4>
            <p>Shihan Oscar Godinez Balvas <br>
                Presidente de la Federación Mexicana de Karate y Artes Marciales Afines A.C. <br><br>
                presidentefemekaoficial@gmail.com</p>
        </div>
        <div class="col">
            <h1>CATEGORIAS</h1>
            <p>Kata individual<br>
                Kata por equipos<br>
                Parakarate <br>
                Master <br> </p>
            <h1>CONVOCATORIA</h1>
            <a href="https://drive.google.com/file/d/1Gb4YK48ny83peIggMobzGEfNsuaMQtBk/view?usp=sharing"
                target="_blank"><button class="btn">DESCARGAR</button></a>
        </div>
        <div class="col">
            <h1>COSTOS</h1>
            <p>Kata individual: $350.00 MN <br>
                Kata equipos (3 integrantes): $1,050.00 MN <br>
                Parakarate: $350.00 MN <br>
        </div>
    </div>

    <div class="row mt-5 descripcion" style="margin-left: 15%; margin-right: 15%;" data-aos="fade-left"
        data-aos-offset="500"  data-aos-easing="ease-in-sine">
        <iframe src="https://www.youtube.com/embed/V-Pf0BPmpWM" frameborder="0" style="width: 100%; height: 60vh"></iframe>
    </div>
</div>

<app-footer></app-footer>
