<h2>AGREGAR ATLETAS</h2>
<form #form='ngForm' id="formulario">
  <div class="row">
    <div class="col">
      <div class="input">
        <input type="text" class="trans" #curp [disabled]="deshabilitar" required name="curp" [(ngModel)]="atletaR.curp">
        <span class="input__highlight"></span>
        <span class="input__underline"></span>
        <label>CURP</label>
      </div>
    </div>
    <div class="col">
      <div class="ripple-button">
        <button type="button" (click)="buscarAtleta()">BUSCAR ATLETA</button>
      </div>
    </div>
  </div>
  <div *ngIf="activarDatos">
    <div class="input">
      <input type="text" #name required name="nombre" [(ngModel)]="atletaR.nombre">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>NOMBRE</label>
    </div>
    <div class="input">
      <input type="text" #apellidoPaterno required name="apellidoPaterno" [(ngModel)]="atletaR.apellidoPaterno">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>APELLIDO PATERNO</label>
    </div>
    <div class="input">
      <input type="text" #apellidoMaterno required name="apellidoMaterno" [(ngModel)]="atletaR.apellidoMaterno">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>APELLIDO MATERNO</label>
    </div>
    <div class="input">
      <input type="number" #edad required name="edad" [(ngModel)]="atletaR.edad">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>EDAD</label>
    </div>
    <div class="input">
      <select name="sexo" #sexo [(ngModel)]="atletaR.sexo" id="sexo">
        <option value='' selected>GENERO</option>
        <option value="MASCULINO">MASCULINO</option>
        <option value="FEMENINO">FEMENINO</option>
      </select>
    </div>
    <div class="input">
      <div class="custome-arrow"></div>
      <select name="estado" #esta required [(ngModel)]="atletaR.estado" id="estado">
        <option value='' selected>ESTADO</option>
        <option value="AGUASCALIENTES">AGUASCALIENTES</option>
        <option value="BAJA CALIFORNIA">BAJA CALIFORNIA</option>
        <option value="BAJA CALIFORNIA SUR">BAJA CALIFORNIA SUR</option>
        <option value="CAMPECHE">CAMPECHE</option>
        <option value="CHIAPAS">CHIAPAS</option>
        <option value="CHIHUAHUA">CHIHUAHUA</option>
        <option value="CDMX">CIUDAD DE MEXICO</option>
        <option value="COAHUILA">COAHUILA</option>
        <option value="COLIMA">COLIMA</option>
        <option value="DURANGO">DURANGO</option>
        <option value="ESTADO DE MÉXICO">ESTADO DE MÉXICO</option>
        <option value="GUANAJUATO">GUANAJUATO</option>
        <option value="GUERRERO">GUERRERO</option>
        <option value="HIDALGO">HIDALGO</option>
        <option value="JALISCO">JALISCO</option>
        <option value="MICHOACÁN">MICHOACÁN</option>
        <option value="MORELOS">MORELOS</option>
        <option value="NAYARIT">NAYARIT</option>
        <option value="NUEVO LEÓN">NUEVO LEÓN</option>
        <option value="OAXACA">OAXACA</option>
        <option value="PUEBLA">PUEBLA</option>
        <option value="QUERÉTARO">QUERÉTARO</option>
        <option value="QUINTANA ROO">QUINTANA ROO</option>
        <option value="SAN LUIS POTOSÍ">SAN LUIS POTOSÍ</option>
        <option value="SINALOA">SINALOA</option>
        <option value="SONORA">SONORA</option>
        <option value="TABASCO">TABASCO</option>
        <option value="TAMAULIPAS">TAMAULIPAS</option>
        <option value="TLAXCALA">TLAXCALA</option>
        <option value="VERACRUZ">VERACRUZ</option>
        <option value="YUCATÁN">YUCATÁN</option>
        <option value="ZACATECAS">ZACATECAS</option>
      </select>
    </div>
    <div class="input">
      <select name="modalidad" required id="modalidad" [(ngModel)]="modalidad">
        <option value='' selected>MODALIDAD</option>
        <option value="KATA">KATA</option>
        <option value="KUMITE">KUMITE</option>
      </select>
    </div>
    <div class="input">
      <select name="colorCinta" required id="colorCinta" (change)="obtenerDivisiones($event)" [(ngModel)]="colorCinta">
        <option value="" selected>GRADO</option>
        <option value="CINTAS NEGRAS">CINTAS NEGRAS</option>
        <option value="GRADOS KYU">GRADOS KYU</option>
        <option value="PARAKARATE">PARAKARATE</option>
      </select>
    </div>
    <div class="input">
      <select name="division" id="divisiones" *ngIf="activarDivisiones" [(ngModel)]="division">
        <option value="" selected>DIVISIONES</option>
        <option [value]="item.division" *ngFor="let item of divisiones"> {{item.division}} </option>
      </select>
    </div>
    <div class="input">
      <select name="categoria" required id="categoria" [(ngModel)]="categoria">
        <option value="" selected>CATEGORIA</option>
        <option [value]="item.categoria" *ngFor="let item of categorias"> {{item.categoria}} </option>
      </select>
    </div>
    <!-- <div class="input">
      <select name="integrantes" #clase required id="integrantes" ngModel>
        <option value="">CLASE</option>
        <option value="INDIVIDUAL" selected>INDIVIDUAL</option>
      </select>
    </div> -->
    <div class="ripple-button" *ngIf="enviarFr">
      <button type="button" (click)="formularioAtletas(form)">AGREGAR ATLETA</button>
    </div>
    <div class="ripple-button" *ngIf="btnEdit">
      <button type="button" (click)="edit(form)">Editar atleta</button>
    </div>
  </div>
</form>

<div class="fondo_nombre">
  <ul *ngFor="let item of atlet"> {{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}} - {{item.categoria}} - {{item.equipo}} </ul>
</div>

<div class="fondo_nombre3">
  <ul *ngFor="let item of atletasRegistrados">
    {{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}} - {{item.categoria}} - {{item.equipo}}
    <i class="mdi mdi-account-edit cursor" (click)="editAtleta(item)"></i>
    <i class="mdi mdi-account-remove cursor" (click)="deleteAtleta(item._id)"></i>
  </ul>
</div>
