<h1>Renades: {{totalRenades}}</h1>
<h1>Renades registrados: {{renadesResg}}</h1>
<h2>AGREGAR RENADES</h2>
<form #form='ngForm' id="renadesForm">
  <div class="input">
    <input type="text" required name="nombre" [(ngModel)]="datos.nombre">
    <span class="input__highlight"></span>
    <span class="input__underline"></span>
    <label>Nombre</label>
  </div>
  <div class="input">
    <input type="text" required name="apellidoPaterno" [(ngModel)]="datos.apellidoPaterno">
    <span class="input__highlight"></span>
    <span class="input__underline"></span>
    <label>Apellido Paterno</label>
  </div>
  <div class="input">
    <input type="text" required name="apellidoMaterno" [(ngModel)]="datos.apellidoMaterno">
    <span class="input__highlight"></span>
    <span class="input__underline"></span>
    <label>Apellido Materno</label>
  </div>
  <div class="input">
    <select name="genero" required [(ngModel)]="datos.genero" id="genero">
      <option value="" selected>Genero</option>
      <option value="MASCULINO">MASCULINO</option>
      <option value="FEMENINO">FEMENINO</option>
    </select>
  </div>
  <div class="input">
    <input type="text"
           name="curp"
           required
           [(ngModel)]="datos.curp"
           (change)="calcular($event)"
           maxlength="18">
    <span class="input__highlight"></span>
    <span class="input__underline"></span>
    <label>CURP</label>
  </div>
  <div class="input">
    <input type="text" required name="edad" [(ngModel)]="datos.edad">
    <span class="input__highlight"></span>
    <span class="input__underline"></span>
    <label>Edad</label>
  </div>
  <div class="input">
    <input type="date" name="fechaNacimiento" [(ngModel)]="datos.fechaNacimiento">
    <span class="input__highlight"></span>
    <span class="input__underline"></span>
    <label>Fecha de nacimiento</label>
  </div>

  <div class="input">
    <input type="text" required name="estado" [(ngModel)]="datos.estado">
    <span class="input__highlight"></span>
    <span class="input__underline"></span>
    <label>Estado</label>
  </div>

  <div class="input">
    <div class="custome-arrow"></div>
    <select name="tipo" required [(ngModel)]="datos.tipo" id="datos.tipo">
      <option value="" selected>Tipo</option>
      <option value="ATLETA">ATLETA</option>
      <option value="JUEZ">JUEZ</option>
      <option value="ENTRENADOR">ENTRENADOR</option>
      <option value="PRESIDENTE">PRESIDENTE</option>
    </select>
  </div>

  <div class="input">
    <input type="text" required name="email" [(ngModel)]="datos.email">
    <span class="input__highlight"></span>
    <span class="input__underline"></span>
    <label>Correo electonico</label>
  </div>

  <div class="input">
    <input type="text" required maxlength="10" name="telefono" [(ngModel)]="datos.telefono">
    <span class="input__highlight"></span>
    <span class="input__underline"></span>
    <label>Telefono</label>
  </div>

  <div class="input">
    <input type="text" required name="club" [(ngModel)]="datos.club">
    <span class="input__highlight"></span>
    <span class="input__underline"></span>
    <label>Club o dojo</label>
  </div>

  <div class="input">
    <input type="text" required name="directorClub" [(ngModel)]="datos.directorClub">
    <span class="input__highlight"></span>
    <span class="input__underline"></span>
    <label>Director del club o dojo</label>
  </div>

  <div class="input">
    <input type="text" required name="direccionClub" [(ngModel)]="datos.direccionClub">
    <span class="input__highlight"></span>
    <span class="input__underline"></span>
    <label>Direccion del club o dojo</label>
  </div>

  <div class="ripple-button">
    <button (click)="registrar()">Agregar renade</button>
  </div>
</form>

