<h2>AGREGAR ENTRENADORES</h2>
<form #form='ngForm' id="entrenadoresForm">
  <div class="row">
    <div class="col">
      <div class="input">
        <input type="text" class="convertir" required name="curp" [(ngModel)]="entrena.curp">
        <span class="input__highlight"></span>
        <span class="input__underline"></span>
        <label>CURP</label>
      </div>
    </div>
    <div class="col">
      <div class="ripple-button">
        <button type="button" (click)="buscarEntrenador()">Buscar Entrenador</button>
      </div>
    </div>
  </div>
  <div *ngIf="validarRenade">
    <div class="input">
      <input type="text" required name="nombre" [(ngModel)]="entrena.nombre">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>Nombre</label>
    </div>
    <div class="input">
      <input type="text" required name="apellidoPaterno" [(ngModel)]="entrena.apellidoPaterno">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>Apellido Paterno</label>
    </div>
    <div class="input">
      <input type="text" required name="apellidoMaterno" [(ngModel)]="entrena.apellidoMaterno">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>Apellido Materno</label>
    </div>
    <div class="input">
      <select name="sexo" [(ngModel)]="entrena.sexo" id="sexo">
        <option value="" selected>Sexo</option>
        <option value="MASCULINO">MASCULINO</option>
        <option value="FEMENINO">FEMENINO</option>
      </select>
    </div>
    <div class="input">
      <div class="custome-arrow"></div>
      <select name="estado" [(ngModel)]="entrena.estado" id="estado">
        <option value="" selected>Estado</option>
        <option value="AGUASCALIENTES">Aguascalientes</option>
        <option value="BAJA CALIFORNIA">Baja California</option>
        <option value="BAJA CALIFORNIA SUR">Baja California Sur</option>
        <option value="CAMPECHE">Campeche</option>
        <option value="CHIAPAS">Chiapas</option>
        <option value="CHIHUAHUA">Chihuahua</option>
        <option value="CDMX">Ciudad de México</option>
        <option value="COAHUILA">Coahuila</option>
        <option value="COLIMA">Colima</option>
        <option value="DURANGO">Durango</option>
        <option value="ESTADO DE MÉXICO">Estado de México</option>
        <option value="GUANAJUATO">Guanajuato</option>
        <option value="GUERRERO">Guerrero</option>
        <option value="HIDALGO">Hidalgo</option>
        <option value="JALISCO">Jalisco</option>
        <option value="MICHOACÁN">Michoacán</option>
        <option value="MORELOS">Morelos</option>
        <option value="NAYARIT">Nayarit</option>
        <option value="NUEVO LEÓN">Nuevo León</option>
        <option value="OAXACA">Oaxaca</option>
        <option value="PUEBLA">Puebla</option>
        <option value="QUERÉTARO">Querétaro</option>
        <option value="QUINTANA ROO">Quintana Roo</option>
        <option value="SAN LUIS POTOSÍ">San Luis Potosí</option>
        <option value="SINALOA">Sinaloa</option>
        <option value="SONORA">Sonora</option>
        <option value="TABASCO">Tabasco</option>
        <option value="TAMAULIPAS">Tamaulipas</option>
        <option value="TLAXCALA">Tlaxcala</option>
        <option value="VERACRUZ">Veracruz</option>
        <option value="YUCATÁN">Yucatán</option>
        <option value="ZACATECAS">Zacatecas</option>
      </select>
    </div>
    <div class="input">
      <input type="text" required class="convertir" name="gradoCN" [(ngModel)]="entrena.gradoCN">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>Grado C.N.</label>
    </div>
    <div class="input">
      <input type="text" required class="convertir" name="estilo" [(ngModel)]="entrena.estilo">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>Estilo</label>
    </div>
    <div class="input">
      <input type="date"  class="form-control" name="fechaNacimiento" [(ngModel)]="entrena.fechaNacimiento">
      <span class="input__highlight"></span>
      <span class="input__underline"></span>
      <label>Fecha de nacimiento</label>
    </div>
    <div class="ripple-button" *ngIf="botonEdit">
      <button type="button" (click)="edit(form)">Editar atleta</button>
    </div>
    <div class="ripple-button" *ngIf="botonEnviar">
      <button (click)="formularioEntrenadores(form)">Agregar entrenador</button>
    </div>
  </div>
</form>

<div class="fondo_nombre">
  <ul *ngFor="let item of entrenador"> {{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}} </ul>
</div>
<div class="fondo_nombre2">
  <ul *ngFor="let item of entrenadoresRegistrados">
    {{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}
    <i class="mdi mdi-account-edit cursor" (click)="editEntrenador(item)"></i>
    <i class="mdi mdi-account-remove cursor" (click)="deleteEntrenador(item._id)"></i>
  </ul>

</div>


