<!-- <app-preloader></app-preloader> -->
<app-header-publico></app-header-publico>
<app-gallery></app-gallery>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 texto">
            <h1>ASAMBLEA GENERAL DE</h1>
            <h3 class="animate__animated animate__flipInX animate__delay-1s">Asociados</h3>
            <p>Presidentes de Asociación. Representan, trabajando por el desarrollo del karate en cada uno de sus
                estados. <br>
                Selecciona algún estado para obtener su información.
            </p>
            <div id='map'></div>
            <div id="message"></div>
        </div>
    </div>
</div>
<app-footer></app-footer>
