@font-face {
    font-family: "Bacalisties";
    src: url("../../../assets/fonts/Bacalisties.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-Black";
    src: url("../../../assets/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../../../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-Thin";
    src: url("../../../assets/fonts/Roboto-Thin.ttf") format("truetype");
}

.texto{
    margin-top: 10%;
    padding-right: 20%;
    padding-left: 20%;
    h1{
        letter-spacing: 2px;
        font-weight: 900;
    }
    h3{
        margin-top: -30px;
        font-family: "Bacalisties";
        text-transform: lowercase;
        line-height: 94px;
        font-size: 6em;
    }
    p{
        text-align: justify;
        letter-spacing: 2px;
        font-size: 1.2em;
        line-height: 32px;
    }

    #map{
        margin-bottom: 10%;
        
    }
    #message{
        margin-top: -10%;
        text-align: center;
        background: rgba(0,0,0,0.5);
        h2{
        text-transform: uppercase;
        font-family: "Roboto-Black"; 
        letter-spacing: 2px;
        font-size: 4.2em;
        }
        h3{
            font-family: "Roboto-Thin"; 
            letter-spacing: 2px;
            font-size: 10px;
        }
        
    }
}

    .texto > .table{
        width: 100%;
    }


    
@media only screen and (max-width: 600px) {
    .texto{

        margin-top: 10%;
        h1{
            margin-top: 200px;
            text-align: center;
        }
        h3{
            margin-top: -30px;
            text-align: center;
            font-size: 4em;
        }
        p{
            padding: 20px;
        }
    }
  }
