<!-- <div class="fondo"></div> -->
<app-header-publico></app-header-publico>
<app-gallery></app-gallery>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 titulo">
      <h1 class="animate__animated animate__fadeInUpBig animate__delay-2s">RENADES</h1>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-8 texto">
      <h3 class="animate__animated animate__flipInX animate__delay-1s">Registros de renade</h3>
      <!-- <h5>Ponte al tanto de lo que sucede en el Karate en México a tráves de nuestras redes sociales.</h5> -->
      <div class="row">
        <div class="col-md-8">
          <div class="input">
            <input type="text" style="text-transform: uppercase;" #name required name="nombre" [(ngModel)]="curp">
            <span class="input__highlight"></span>
            <span class="input__underline"></span>
            <label>INGRESA TU CURP</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ripple-button">
            <button type="button" (click)="buscarRenade()">Buscar</button>
        </div>
        </div>
      </div>

      <table class="default" border="1" *ngIf="tabla">
        <tr>
          <th style="border-right: none;">RENADE</th>
          <th style="border-left: none;"></th>
        </tr>
        <tr>
          <td>NOMBRE</td>
          <td>{{registro.nombre | uppercase}}</td>
        </tr>
        <tr>
          <td>APELLIDO PATERNO</td>
          <td>{{registro.apellidoPaterno | uppercase}}</td>
        </tr>
        <tr>
          <td>APELLIDO MATERNO</td>
          <td>{{registro.apellidoMaterno | uppercase}}</td>
        </tr>
        <tr>
          <td>FECHA DE NACIMIENTO</td>
          <td>{{registro.fechaNacimiento}}</td>
        </tr>
        <tr>
          <td>GENERO</td>
          <td>{{registro.genero | uppercase}}</td>
        </tr>
        <tr>
          <td>EDAD</td>
          <td>{{registro.edad}}</td>
        </tr>
        <tr>
          <td>CURP</td>
          <td>{{registro.curp | uppercase}}</td>
        </tr>
        <tr>
          <td>ESTADO</td>
          <td>{{registro.estado | uppercase}}</td>
        </tr>
        <tr>
          <td>TELEFONO</td>
          <td>{{registro.telefono}}</td>
        </tr>
        <tr>
          <td>CORREO ELECTRONICO</td>
          <td>{{registro.email}}</td>
        </tr>
        <tr>
          <td>TIPO</td>
          <td>{{registro.tipo | uppercase}}</td>
        </tr>
        <tr>
          <td>VIGENCIA</td>
          <td>{{registro.vigencia}}</td>
        </tr>
        <tr>
          <td>CLUB</td>
          <td>{{registro.club | uppercase}}</td>
        </tr>
        <tr>
          <td>DIRECTOR DEL CLUB</td>
          <td>{{registro.directorClub | uppercase}}</td>
        </tr>
        <tr>
          <td>DIRECCION DEL CLUB</td>
          <td>{{registro.direccionClub | uppercase}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
