<!-- <app-preloader></app-preloader> -->
<app-header-publico></app-header-publico>
<app-gallery></app-gallery>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 texto"></div>
        <div class="col-sm-4 texto">
            <h3 class="animate__animated animate__flipInX animate__delay-1s">Eventos</h3>
            <h2>1er CAMPEONATO NO CLASIFICADOS, CLASIFICADOS, GRADOS KYU Y PARAKARATE </h2>
            <p>Iniciamos la cuenta regresiva para el 1er Campeonato FEMEKA No clasificados, Clasificados, Grados Kyu y Parakarate 2022 a celebrarse el día 27, 28, 29, 30 de Enero del 2022 en Cuernavaca, Morelos.
                Recuerda que el primero de ENERO se abren los registros para los presidentes de cada Asociación de Estado en www.femekamexico.com . <br>
                Así que como atleta, entrenador o examinador debes acércate a el, para que el haga tu registro en la pagina oficial. <br>
                ¡Te esperamos!</p>

        </div>
        <div class="col-sm-4" data-aos="fade-right" data-aos-offset="500"  data-aos-easing="ease-in-sine">
            <img class="d-block w-100 mx-auto d-block" style="margin-top: 15%;"
                src="../../../assets/images/eventos/TORNEO NACIONAL FEMEKA.jpg" alt="eventos">
        </div>
    </div>

    <div class="row mt-5 descripcion" style="margin-left: 15%; margin-right: 15%;" data-aos="fade-left" data-aos-offset="500"  data-aos-easing="ease-in-sine">
        <div class="col">
            <h1>LUGAR DEL EVENTO</h1>
            <h3>CUERNAVACA, MORELOS</h3>
            <img class="d-block w-75 mx-auto d-block" src="../../../assets/images/img_pagina/ESTADOS/morelos.png"
                alt="eventos">
        </div>
        <div class="col">
            <h1>FECHA DE INSCRIPCIÓN</h1>
            <h3>Del 01 al 15 de enero del 2022</h3>
            <img class="d-block w-75 mx-auto d-block"
                src="../../../assets/images/img_pagina/CALENDARIOS/ENERO-INSCRIPCION.jpg" alt="eventos">
        </div>
        <div class="col">
            <h1>FECHA DE EVENTO</h1>
            <h3>Del 27 al 30 de enero del 2022</h3>
            <img class="d-block w-75 mx-auto d-block"
                src="../../../assets/images/img_pagina/CALENDARIOS/ENERO-EVENTO.jpg" alt="eventos">
        </div>
    </div>

    <div class="row mt-5 descripcion" style="margin-left: 15%; margin-right: 15%;" data-aos="fade-right" data-aos-offset="500"  data-aos-easing="ease-in-sine">
        <div class="col ms-5">
            <h1>INFORMACIÓN GENERAL</h1>
            <h4>Lugar:</h4>
            <p>Unidad Deportiva Revolución de 1910 <br>
                Calle Netzahualcóyotl S/N , Colonia Centro <br>
                62000 Cuernavaca, Morelos</p>
            <h4>Modalidad:</h4>
            <p>Presencial</p>
            <h4>Tipo de evento:</h4>
            <p>Nacional</p>
            <h4>Informes:</h4>
            <p>Shihan Oscar Godinez Balvas <br>
                Presidente de la Federación Mexicana de Karate y Artes Marciales Afines A.C. <br><br>
                presidentefemekaoficial@gmail.com</p>
        </div>
        <div class="col">
            <h1>CATEGORIAS</h1>
            <p>Preselectivo infantil y juvenil <br>
                Selectivo infantil y juvenil <br>
                Categoria mayor <br>
                Grados KYU <br>
                Parakarate <br>
                Seminario nacional de Arbitraje <br>
                Seminario nacional de entrenadores y atletas <br>
                Exámenes de reconocimiento FEMEKA <br>
                Cédula de competidor, Cinta negra</p>

                <br>
            <h1>CONVOCATORIA</h1>
            <a href="https://drive.google.com/file/d/1bYkYE8a3pr6ZWeejIUYFam4rudlPsFQA/view?usp=sharing" target="_blank"><button class="btn">DESCARGAR</button></a>
        </div>
        <div class="col">
            <h1>COSTOS</h1>
            <h4>CINTAS NEGRAS</h4>
            <p>Individual kata o kumite: $600.00 MN <br>
                Parakarate kata: $500.00 MN <br>
                Equipo de kata: $1,800.00 MN <br>
                Equipo de kumite: $3,000.00 MN</p>

            <h4>CINTAS DE COLOR</h4>
            <p>Ficha única (kata y/o kumite): $750.00 MN <br>
                Ficha única Parakarate: $500.00 MN</p>

            <h4>EXAMENES</h4>
            <p> Cédula de competidor: $1,000.00 MN <br>
                Cinta negra FEMEKA: $1,400.00 MN</p>

            <h4>CURSOS</h4>
            <p>Arbitraje: $600.00 MN <br>
                Entrenadores: $600.00 MN</p>
        </div>
    </div>

    <app-footer></app-footer>
