<!-- <app-preloader></app-preloader> -->
<app-header-publico></app-header-publico>
<app-gallery></app-gallery>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 titulo">
            <h1 class="animate__animated animate__fadeInUpBig animate__delay-2s">NOTICIAS</h1>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8 texto">
            <h3 class="animate__animated animate__flipInX animate__delay-1s">Noticias</h3>
            <h5>Ponte al tanto de lo que sucede en el Karate en México a tráves de nuestras redes sociales.</h5>

            <!-- SnapWidget -->

            <h1 class="titulo-redes" data-aos="fade-left"  data-aos-duration="1500"
                data-aos-easing="ease-in-sine">FACEBOOK</h1>
            <!-- SnapWidget -->
            <iframe src="https://snapwidget.com/embed/979106" class="snapwidget-widget" allowtransparency="true"
                data-aos="fade-left" data-aos-duration="1500" data-aos-easing="ease-in-sine" frameborder="0"
                scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>
            <h1 class="titulo-redes" data-aos="fade-left" data-aos-offset="500" data-aos-duration="1500"
                data-aos-easing="ease-in-sine">INSTAGRAM</h1>
            <iframe src="https://snapwidget.com/embed/979084" class="snapwidget-widget" allowtransparency="true"
                data-aos="fade-left" data-aos-duration="1500" data-aos-easing="ease-in-sine" frameborder="0"
                scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>
            <h1 class="titulo-redes" data-aos="fade-left" data-aos-offset="500" data-aos-duration="1500"
                data-aos-easing="ease-in-sine">TWITTER</h1>
            <iframe src="https://snapwidget.com/embed/979089" class="snapwidget-widget" allowtransparency="true"
                data-aos="fade-left" data-aos-offset="500" data-aos-duration="1500" data-aos-easing="ease-in-sine"
                frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>
        </div>
    </div>
</div>
<app-footer></app-footer>
