<!-- <app-preloader></app-preloader> -->
<app-header-publico></app-header-publico>
<app-gallery></app-gallery>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 titulo">
            <h1 class="animate__animated animate__fadeInUpBig animate__delay-2s">EVENTOS</h1>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 texto">
            <h3 class="animate__animated animate__flipInX animate__delay-1s">Eventos</h3>
            <p>A continuación se muestran los eventos y campeonatos que acontecierón y aconteceran en los proximos días.</p>
            <p>Selecciona alguno de los eventos para mostrar más información.</p>
            <p>¡Te esperamos!</p>
        </div>
        <div class="col-sm-4">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="margin-top: 15%;">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <a href="/#/dashboard/evento1"><img class="d-block w-100 mx-auto d-block"
                            src="../../../assets/images/eventos/TORNEO NACIONAL FEMEKA.jpg" alt="First slide"></a>
                        <div class="carousel-caption d-none d-md-block text-center">
                            <p>CAMEPONATO NACIONAL DE KARATE DO</p>
                            <a href="/#/dashboard/evento1"><button type="button" class="btn">LEER MÁS</button></a> 
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="/#/dashboard/evento2"><img class="d-block w-100 mx-auto d-block"
                            src="../../../assets/images/eventos/CAMPEONATO NACIONAL VIRTUAL.jpg" alt="Second slide"></a>
                        <div class="carousel-caption d-none d-md-block text-center">
                            <p>SEGUNDO CAMPEONATO NACIONAL DE KATA Y PARAKARATE</p>
                            <a href="/#/dashboard/evento2"><button type="button" class="btn">LEER MÁS</button></a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="/#/dashboard/evento3"><img class="d-block w-100 mx-auto d-block"
                            src="../../../assets/images/eventos/POSTER OAXTEPEC.png" alt="Second slide"></a>
                        <div class="carousel-caption d-none d-md-block text-center">
                            <p>SEGUNDA COPA CASTILLO KARATE</p>
                            <a href="/#/dashboard/evento3"><button type="button" class="btn">LEER MÁS</button></a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
