<app-menu-super-admin></app-menu-super-admin>
<app-gallery></app-gallery>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 titulo">
      <h1 class="animate__animated animate__fadeInUpBig animate__delay-2s">RENADES</h1>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-8 texto">
      <h3 class="animate__animated animate__flipInX animate__delay-1s">Visualizar Renades</h3>

      <div class="input animate__animated animate__flipInX animate__delay-1s">
          <div class="custome-arrow"></div>
          <select name="estado" #esta required id="estado" (change)="obtenerRenade($event)">
              <option value='' selected>Estado</option>
              <option [value]="item.valor" *ngFor="let item of estados">{{item.nombre}}</option>
          </select>
      </div>

      <table class="default animate__animated animate__fadeInUpBig animate__delay-2s" border="1">
        <tr>
          <th style="border-right: none;">RENADE</th>
          <th style="border-left: none;"></th>
        </tr>
        <tr *ngFor="let item of renades">
          <td>{{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}</td>
          <td><i class="mdi mdi-border-color" [routerLink]="['/dashboard/actualizar/renade', item._id]"></i></td>
        </tr>
        <tr>
          <th style="border-right: none;">TOTAL DE RENADES REGISTRADOS: {{renades.length}}</th>
          <th style="border-left: none;"></th>
        </tr>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
