@font-face {
    font-family: "Bacalisties";
    src: url("../../../assets/fonts/Bacalisties.ttf") format("truetype");
}

.titulo{
    bottom: 30px;
   margin-top: 30px;
    border-right: 1px solid #fff;
    height: 100vh;
    h1{
        font-weight: 900;
        font-size: 80px;
        line-height: 94px;
        letter-spacing: 0.1em;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        position: absolute;
        bottom: 30px;
    }
}

.texto{
    margin-top: 10%;
    h3{
        font-family: "Bacalisties";
        text-transform: lowercase;
        line-height: 94px;
        font-size: 6em;
    }
    p{
        text-align: justify;
        letter-spacing: 2px;
        font-size: 1.2em;
        line-height: 32px;
    }
    .video{
        position: relative;
        margin-bottom: 20px;
        padding-top: 56.25%;
        -webkit-box-shadow: 10px 10px 63px -28px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 63px -28px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 63px -28px rgba(0,0,0,0.75);

        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%
        }
    }
}

@media only screen and (max-width: 600px) {
    .texto{

        margin-top: 10%;
        h3{
            margin-top: 200px;
            text-align: center;
        }
        p{
            padding: 20px;
        }
    }
    .titulo{
        visibility:hidden;
        display: none;
        
    }
  }