<!-- <app-preloader></app-preloader> -->
<app-header-publico></app-header-publico>
<app-gallery></app-gallery>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 titulo">
            <h1 class="animate__animated animate__fadeInUpBig animate__delay-2s">FEMEKA </h1>
        </div>
        <div class="col-md-2"></div>
        <div class="col-sm-6 texto">
            <h3 class="animate__animated animate__flipInX animate__delay-1s">Misión</h3>
            <p class="animate__animated animate__fadeInRight animate__delay-1s">Apoyar, promover y fomentar el Karate
                en México, organizando y unificando a los atletas que practican este deporte, así como a los oficiales y
                directivos del Karate en el país, a través de programas operativos para estimular la formación de los
                deportistas; reconocer y afiliar a las asociaciones estatales afiliadas y a sus miembros que organizan y
                promueven el Karate en las Entidades Federativas, la Ciudad de México y Entidades Deportivas Afiliadas a
                la Federación.</p>
            <h3 class="animate__animated animate__flipInX animate__delay-2s">Visión</h3>
            <p class="animate__animated animate__fadeInRight animate__delay-2s">Consolidarnos como una institución
                forjadora de atletas exitosos, con amplios estándares de calidad, incluyente y segura, a través de
                organigramas y planes de desarrollo adecuado para hacer frente a los retos deportivos que se presenten
                en la práctica del Karate.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>
