<app-menu-extendido-admin></app-menu-extendido-admin>
<app-gallery></app-gallery>

<div class="gallery">
    <div class="gallery__strip__wrapper">
      <div class="gallery__strip one">
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN1.JPG"/></div>
          <div class="photo__name">FEMEKA</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN2.JPG"/></div>
          <div class="photo__name">MÉXICO</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN3.JPG"/></div>
          <div class="photo__name">FEMEKA</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN4.JPG"/></div>
          <div class="photo__name">MÉXICO</div>
        </div>
      </div>
    </div>
    <div class="gallery__strip__wrapper">
      <div class="gallery__strip two">
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN9.JPG"/></div>
          <div class="photo__name">FEMEKA</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN6.JPG"/></div>
          <div class="photo__name">MÉXICO</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN7.JPG"/></div>
          <div class="photo__name">FEMEKA</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN8.JPG"/></div>
          <div class="photo__name">MÉXICO</div>
        </div>
      </div>
    </div>
    <div class="gallery__strip__wrapper">
      <div class="gallery__strip three">
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN10.JPG"/></div>
          <div class="photo__name">FEMEKA</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN5.JPG"/></div>
          <div class="photo__name">MÉXICO</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN11.JPG"/></div>
          <div class="photo__name">FEMEKA</div>
        </div>
        <div class="photo">
          <div class="photo__image"><img src="../../../../assets/images/img_pagina/GALERIA/ADMIN12.JPG"/></div>
          <div class="photo__name">MÉXICO</div>
        </div>
      </div>
    </div>
  
  </div>
<app-footer></app-footer>
<!-- <input type="checkbox" class="check" id="checked">
<label class="menu-btn" for="checked">
    <span class="bar top"></span>
    <span class="bar middle"></span>
    <span class="bar bottom"></span>
</label>
<label class="close-menu" for="checked"></label>
<img class="logo" id="logo" src="../../../../assets/images/img_pagina/femeka_home.png" alt="">
<nav class="drawer-menu">
    <ul>
        <li><a>VENTAS</a></li>
        <li [routerLink]="['/dashboard/totales']"><a>CAMPEONATOS</a></li>
        <li><a>COMPETIDORES</a></li>
        <li><a>STATUS</a></li>
        <li><a (click)="cerrar()">CERRAR SESIÓN</a></li>
    </ul>
</nav>  

<div class="contents">
    <div class="contents__inner">
        <div class="">
            <div class="fondo">
                <div class="box">

                    <div class="title">
                        <span class="block"></span>
                        <h1><span></span></h1>
                <img class="chico" src="../../../../assets/images/img_pagina/admin.jpg" alt="">
            </div>
        </div>
    
    </div>
    
</div>

 -->
