@font-face {
  font-family: "Roboto-Black";
  src: url("../../../assets/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../../../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../../../assets/fonts/Roboto-Thin.ttf") format("truetype");
}

$color-black: #000000;
$color-red: #EA0707;
$color-white: #FFFFFF;
$color-sombra: #918b8b;

body{
  background-color: $color-black;
  overflow-x: hidden;
  font-family: Roboto-Regular;
  color: $color-white;
}

.trans{
text-transform: uppercase;
}

/* TABS NAVIGATOR ================ */
.wrapper {
margin: 10px auto;
max-width:90%;
}
.tabs {
  &-content {
      margin-top: 2.5rem;

  &_item {
    display: none;

    &.active {
      display: block;
      animation: showitem 1s ;

      @keyframes showitem {
        from {opacity: 0};
        to {opacity: 1}
      }
    }
  }

  }
  &-navigation {
  position: relative;
      text-align: center;
      letter-spacing: 0.5em;
      font-size: 2vh;

  &_labelk {
    position: absolute;
    height: 2px;
    top: calc(100% + 4px);
    left: 0;
    background-color: $color-red;
    transition: cubic-bezier(1,0,.01,.99) .5s;
  }

      &_element {
          display: inline-block;
          text-transform: uppercase;
          margin-right: 1rem;
          color: $color-sombra;
          cursor: pointer;
          transition: .3s;
          position: relative;

    .bg-light & {
      &.active {
        color: $color-white;
      }
      &:hover {
                color: $color-white;
             }
    }
    .bg-orange & {
      &:hover {
                color: #fff;
             }
    }


          &.active {
              color: #fff;
          }
      }
  }
}



// Quick Settings
$background-color: #AEC3D5;
$font-color: #99B0C3  ;
$padding: 1em ;
$ripple-color: #53626F;
$ripple-opacity: .1;
$transition-duration: .8s;
$grey : #999;
$bg-color: #1F3944;


.container {
min-width: 80vw;
}

.input {

  position:relative;
  margin-bottom:30px;
  width:100%;

  /* input */
  input {
    font-size: 1em;
    padding:10px 0 10px 0;
    display:block;

    width:100%;
    border:none;
    color :white;
    border-bottom:1px solid $grey;
    background-color: transparent;
    &:hover {
      cursor: pointer;
      border-bottom: 1px solid lighten($grey,10%);

      label { color: black;  }
    }
    &:focus { outline: none; cursor: auto; }
  }
  /* label  */
  label {
    color:$grey;
    font-size:1em;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    top:10px;
    text-transform: none;
    transition:0.2s ease all;


  }

  /* Underline */
  &__underline 	{
    position:relative;
    display:block;
    width:100%;

    &:before, &:after {
      content:'';
      height:1px;
      width:0;
      bottom:1px;
      position:absolute;
      background: white;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
    }
    &:before {
      left:50%;
    }
    &:after {
      right:50%;
    }
  }

  /* Highlight */
  &__highlight {
    position:absolute;
    height:60%;
    width:100%;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  /* Animation */

  @-webkit-keyframes inputHighlighter {
    from { background: darken($bg-color, 10%); }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
    from { background: darken($bg-color, 10%); }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
    from { background: darken($bg-color, 10%); }
    to 	{ width:0; background:transparent; }
  }

  /* Active State  */
  input:hover ~ label		{
    color: lighten($grey,10%);
  }
  input:focus ~ label, input:valid ~ label {
    top:-5px;
    font-size:10px;
    color: white;
    text-transform: uppercase;
  }


  input:focus ~ .input__underline:before, input:focus ~ .input__underline:after {
    width:50%;
  }

  input:focus ~ .input__highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }

}



.ripple-button button{
width: 100%;
font-size: 1em;
box-sizing: border-box;
position: relative;
padding: $padding;
cursor: pointer;
border-radius: 0;
border: 1px solid $color-red;
background: $color-red;
color: $color-white;
letter-spacing: 0.2em;
user-select: none; // prevent text-selection
text-align: center;
text-transform: uppercase;
}


.ripple-button button:hover{
background: rgb(170, 15, 15);
border: 1px solid rgb(170, 15, 15);
color: $color-white;
}




/* CUSTOM SELECT FILE */

.custom-file-input {
padding: 5px;
color: $color-white;
border: 1px solid $color-white;
vertical-align: middle;
}
.custom-file-input::-webkit-file-upload-button {
visibility: hidden;
}
.custom-file-input::before {
content: 'B U S C A R';
color: $color-white;
border: 1px solid $color-white;
padding: 8px;
width: 50%;
display: inline-block;
background: $color-black;
outline: none;
white-space: nowrap;
cursor: pointer;
text-align: center;
font-size: 10pt;
}
.custom-file-input:hover::before {
background-color: $color-white;
color: $color-black;
}
.custom-file-input:active {
outline: 0;
}
.custom-file-input:active::before {
background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


/* CUSTOM LIST*/
select[name=sexo], select[name=estado], select[name=modalidad], select[name=integrantes], select[name=categoria],  select[name=colorCinta], select[name=division], select[name=edad]{
font-family: Roboto-Regular;
font-size:1em;
color: $grey;
background-color: $color-black;
padding: 12px !important;
width: 100%;
-webkit-appearance: none;
border: 1px solid $grey;
border-radius: 0;
}

select[name=sexo]:hover, select[name=estado]:hover, select[name=modalidad]:hover, select[name=integrantes]:hover, select[name=categoria]:hover, select[name=colorCinta]:hover, select[name=division]:hover, select[name=edad]:hover{
background-color: $color-black;
color: $color-white;
border: 1px solid $color-white;
}

input[name=date] {
font-family: Roboto-Regular;
font-size:1em;
}

.fondo_nombre{
margin-top: 5vh;
padding: 15px;
width: 100%;
font-family: Roboto-Thin;
letter-spacing: 0.5em;

&::before{
  content: 'LISTA DE ATLETAS';
  font-family: Roboto-Black;
}
}

.fondo_nombre2{
margin-top: 5vh;
padding: 15px;
width: 100%;
font-family: Roboto-Thin;
letter-spacing: 0.5em;

&::before{
  content: 'LISTA DE EQUIPOS';
  font-family: Roboto-Black;
}
}

.fondo_nombre3{
margin-top: 5vh;
padding: 15px;
width: 100%;
font-family: Roboto-Thin;
letter-spacing: 0.5em;

&::before{
  content: 'LISTA DE ATLETAS REGISTRADOS EN EL PÁGINA';
  font-family: Roboto-Black;
}
}
.fondo_nombre4{
margin-top: 5vh;
padding: 15px;
width: 100%;
font-family: Roboto-Thin;
letter-spacing: 0.5em;

&::before{
  content: 'LISTA DE EQUIPOS REGISTRADOS EN EL PÁGINA';
  font-family: Roboto-Black;
}
}

/* ATLETAS */
h2{
/* margin-top: 8vw; */
font-family: Roboto-Regular;
letter-spacing: 0.5em;
font-size: 2vh;
}


#list > ul  {
margin: 0;
padding: 0;
list-style-type: none;
}
#list > li  {
margin-top: 15px;
margin-right: 15px;
height: 6vh;
background: #661c04;
font-family: Roboto-Thin;
text-align: left;
padding: 15px;
letter-spacing: 0.1em;
color: white;
display: inline-block;
position: relative;
word-wrap: initial;
width: 90%;
vertical-align: top;
align-items: center;
}
.item {
width: 100%;
height: 100%;
}
.delete {
font-weight: bold;
padding: 2px 5px;
position: absolute;
bottom: 0;
right: 0;
}


/* footer */
.footer {
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("http://andreeabunget.co.uk/Img/footer.jpg");
  background-size: cover;

}

.cursor{
cursor: pointer;
}

.modal-title{
font-family: 'Roboto-Regular';
letter-spacing: 5px;
color: black;
}

.btn-cerrar, .btn-ingresar{
width: 35%;
height: 45px;
 font-size: 1em;
 box-sizing: border-box;
 position: relative;

 cursor: pointer;
 border-radius: 0;
 border: 1px solid red;
 background: transparent;
 color: black;
 letter-spacing: 0.2em;
 user-select: none; // prevent text-selection
 text-align: center;
 text-transform: uppercase;
}

.form-group > label{
font-family: 'Roboto-Thin';
letter-spacing: 5px;
}

.form-group > input{
font-family: 'Roboto-Thin';
letter-spacing: 5px;
box-sizing: border-box;
display: block;
width: 100%;
color: black;
background: transparent;
}


