
<!-- //club o dojo -->
<div class="fondo"></div>
<div class="menu">
  <img class="logo" id="logo" src="../../../assets/images/img_pagina/femeka_home.png" alt="" data-aos="fade-right"
        data-aos-offset="500" data-aos-easing="ease-in-sine">
  <div class="contents">
    <div class="contents__inner">
      <h1 class="titulo">REGISTRO</h1>
      <div class="row">
        <div class="col">
          <h2 style="margin-top: 5vh; margin-left: 5vw;">
            Bienvenido(a)
            <span style="text-transform: uppercase;">{{nombre}}</span>
          </h2>
        </div>
        <div class="col-md-2">
          <div class="ripple-button">
            <button type="button" (click)="cerrar()">CERRAR SESION</button>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="bg">
          <div role="tabpanel" class="tab">
            <div class="col-12" id="indicadoress">
              <ul class="nav flex justify-content-center align-items-center">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#eventos" aria-controls="#eventos">
                    RENADES
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#renades" data-toggle="tab" aria-controls="#renades">
                    EVENTOS
                  </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#pagos" data-toggle="tab" aria-controls="#pagos">
                    REGISTRO DE PAGOS
                  </a>
                </li> -->
              </ul>
            </div>
            <div class="col-12">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="eventos">
                  <app-renade></app-renade>
                </div>
                <div role="tabpanel" class="tab-pane" id="renades">
                  <app-registro-events></app-registro-events>
                </div>
                <!-- <div role="tabpanel" class="tab-pane" id="pagos">

                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
