<nav class="menu-extendido fixed-top" style="background-color: black;">
  <a href="/#/dashboard/super/admin"><img class="logo2" src="../../../assets/images/img_pagina/femeka_logoIndiv.png" alt="logo"></a>
  <div>
    <ul>
      <li [routerLink]="['/dashboard/activar/renades']" class="pointer"><a rel="preload">ACTIVAR RENADES</a></li>
      <li [routerLink]="['/dashboard/renades/estado']" class="pointer"><a rel="preload">VIZUALIZAR RENADES</a></li>
    </ul>
  </div>
  <a (click)="cerrar()" class="pointer" data-toggle="modal" data-target="#exampleModalCenter">
    <svg class="signin" xmlns="http://www.w3.org/2000/svg"
      fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-width="1"
        d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
    </svg></a>
</nav>

<header class="menu-comprimido">
  <a rel="preload" href="/#/dashboard/super/admin" class="logo">
    <img src="../../../assets/images/img_pagina/femeka_home.png" alt="logo" class="animate__animated animate__zoomIn">
  </a>

  <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
  <label for="menu-icon"></label>
  <nav rel="preload" class="nav">
    <ul class="pt-5">
      <li [routerLink]="['/dashboard/activar/renades']"><a rel="preload">ACTIVAR RENADES</a></li>
      <li [routerLink]="['/dashboard/renades/estado']"><a rel="preload">VIZUALIZAR RENADES</a></li>
      <button type="button" class="btn-cerrar" (click)="cerrar()" data-toggle="modal" data-target="#exampleModalCenter">Cerrar
        Sesión</button>
    </ul>
  </nav>
</header>
