@font-face {
  font-family: "Bacalisties";
  src: url("../../../assets/fonts/Bacalisties.ttf") format("truetype");
}

$color-black: #000;
$color-red: #EA0707;
$color-white: #FFFFFF;
$color-sombras: rgba(0, 0, 0, 0.25);
$color-sombreado-texto: #c4c2c2;

select[name=estado] {
  margin-left: 8vh;
font-family: Roboto-Regular;
font-size:1em;
color: white;
background-color: $color-black;
padding: 12px !important;
width: 50%;
-webkit-appearance: none;
border: 1px solid $color-white;
border-radius: 0;
}

table{
  margin-left: 8vh;
  margin-top: 2vh;
  width: 90%;
  border-collapse: collapse;
  border: 1px solid $color-white;
  font-family: Roboto-Thin;
  text-align: center;
  font-size: 2vh;
  border: none;
  border-bottom: 1px solid $color-white;
}

th{
  font-family: Roboto-Black;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 15px;
}

td{
  padding: 8px;
  border-right: 1px solid $color-white;
  border-bottom: $color-black;
}

.titulo{
  bottom: 30px;
 margin-top: 30px;
  border-right: 1px solid #fff;

  h1{
      position: fixed;
      font-weight: 900;
      font-size: 80px;
      line-height: 94px;
      letter-spacing: 0.1em;
      writing-mode: vertical-lr;
      transform: rotate(180deg);

      bottom: 30px;
  }
}

.texto{
  margin-top: 10%;
  h3{
      font-family: "Bacalisties";
      text-transform: lowercase;
      line-height: 94px;
      font-size: 6em;
  }
  h5{
      text-align: justify;
      letter-spacing: 2px;
      font-size: 1em;
      line-height: 32px;
  }
}

.titulo-redes{
letter-spacing: 5px;
margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .texto{

      h3{
          margin-top: 200px;
          text-align: center;
      }
      h5{
          padding: 20px;
      }
  }
  .titulo{
      visibility:hidden;
      display: none;

  }
}




.anuncio{
  margin-top: 10%;
  h4{
      font-family: "Bacalisties";
      text-transform: lowercase;
      line-height: 94px;
      font-size: 6em;
  }
  h5{
      text-align: justify;
      letter-spacing: 2px;
      font-size: 1em;
      line-height: 32px;
  }
  .timeline {
      list-style: none;
    }
    .timeline > li {
      margin-bottom: 5px;
    }
}


/* for Desktop */
@media ( min-width : 640px ){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content {
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
  }
  .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #6fc173;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
  }
}
