<!-- <div class="fondo"></div> -->
<app-menu-super-admin></app-menu-super-admin>
<app-gallery></app-gallery>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 titulo">
      <h1 class="animate__animated animate__fadeInUpBig animate__delay-2s">RENADES</h1>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-8 texto">
      <h3 class="animate__animated animate__flipInX animate__delay-1s">Activar Renades</h3>
      <div class="input">
        <div class="custome-arrow"></div>
        <table class="animate__animated animate__flipInX animate__delay-1s" border="1">
          <tr>
            <th>
              Presidente
            </th>
            <th>
              Estado
            </th>
            <th>
              Renades adquiridos
            </th>
            <th>
              Renades registrados
            </th>
            <th>
              Numero de renades
            </th>
          </tr>
          <tr *ngFor="let item of presidentes">
            <td>{{item.nombre}}</td>
            <td>{{item.estado}}</td>
            <td>{{item.renades}}</td>
            <td>{{item.renadesRegistrados}}</td>
            <td>
              <input type="number" min="0" (keyup.enter)="actualizarPresi($event,item)">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
