<!-- <app-preloader></app-preloader> -->
<app-gallery></app-gallery>
<app-header-publico></app-header-publico>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 texto"></div>
        <div class="col-sm-4 texto">
            <h3 class="animate__animated animate__flipInX animate__delay-1s">Eventos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias repellat culpa, tenetur optio
                consectetur eius possimus laboriosam inventore nihil tempora fuga in illo voluptates itaque adipisci
                quia corrupti reprehenderit? Culpa.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, voluptate molestiae? Amet autem
                mollitia incidunt enim non quidem eum optio, iste pariatur saepe, ad, nemo quaerat modi in maxime
                voluptatibus.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia in enim quibusdam velit, nemo ipsa?
            </p>

        </div>
        <div class="col-sm-4">
            <img class="d-block w-100 mx-auto d-block" src="../../../assets/images/eventos/POSTER OAXTEPEC.png"
                alt="eventos">
        </div>
    </div>
    <div class="row mt-5 mr-auto ml-auto">
        <div class="col-sm-4 pb-5 descripcion">
            <h1>LUGAR DEL EVENTO</h1>
            <p>Puebla</p>
            <img class="d-block w-50 mx-auto d-block" src="../../../assets/images/img_pagina/ESTADOS/puebla.png"
                alt="eventos">
        </div>
        <div class="col-sm-4 pb-5 descripcion">
            <h1>FECHA DE INSCRIPCIÓN</h1>
           <app-calendar></app-calendar>
        </div>
        <div class="col-sm-4 pb-5 descripcion">
            <h1>FECHA DE EVENTO</h1>
            <app-calendar></app-calendar>
        </div>
    </div>
    <div class="row mt-5 mr-auto ml-auto">
        <div class="col-sm-4 pb-5 descripcion">
            <h1>INFORMACIÓN GENERAL</h1>
            <h2>Sede:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <h2>Responsable:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <h2>Contacto:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col-sm-4 pb-5 descripcion">
            <h2>Lugar:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <h2>Modalidad:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <h2>Tipo de evento:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col-sm-4 pb-5 descripcion">
            <h1>COSTOS</h1>
        </div>
    </div>
</div>

<app-footer></app-footer>