@font-face {
    font-family: "Bacalisties";
    src: url("../../../assets/fonts/Bacalisties.ttf") format("truetype");
}

.texto{
    margin-top: 10%;
    h1{
        letter-spacing: 2px;
        font-weight: 900;
    }
    h3{
        margin-top: -30px;
        font-family: "Bacalisties";
        text-transform: lowercase;
        line-height: 94px;
        font-size: 6em;
    }
    p{
        text-align: justify;
        letter-spacing: 2px;
        font-size: 1.2em;
        line-height: 32px;
    }
    
}

.descripcion{
    white-space: nowrap;
    h1{
        text-align: center;
        letter-spacing: 2px;
        font-weight: 900;
        font-size: 1.2em;
        line-height: 32px;
    }
    p, h2{
        text-align: center;
        letter-spacing: 2px;
    }
}



@media only screen and (max-width: 600px) {
    .texto{

        margin-top: 10%;
        h3{
            margin-top: 200px;
            text-align: center;
        }
        p{
            padding: 20px;
        }
    }
    .titulo{
        visibility:hidden;
        display: none;
        
    }
  }
